In [1]:
import pandas as pd
import numpy as np
import datetime
import copy
from IJCAI2017_TOOL import *

In [2]:
PAYNW = pd.read_csv('./user_pay_new.csv')
PAYNW.head()

   SHOP_ID        DATE  HOUR  Num_raw  Num_post  DofW
0        1  2015-10-10    15       14      14.0     5
1        1  2015-10-10    16       20      20.0     5
2        1  2015-10-10    17       16      16.0     5
3        1  2015-10-10    18       24      24.0     5
4        1  2015-10-10    19       48      48.0     5

In [4]:
 #生成用户流量的透视表，shop id为索引，日期为列名
PAYNW_TAB = pd.pivot_table(PAYNW, values=['Num_post'], index=['SHOP_ID'],columns=['DATE'], aggfunc=np.sum)   
PAYNW_TAB

          Num_post                                                         \
DATE    2015-06-26 2015-06-27 2015-06-28 2015-06-29 2015-06-30 2015-07-01
SHOP_ID
1              NaN        NaN        NaN        NaN        NaN        NaN
2              NaN        NaN        NaN        NaN        NaN        NaN
3              NaN        NaN        NaN        NaN        NaN        NaN
4              NaN        NaN        NaN        NaN        NaN        NaN
5              NaN        NaN        NaN        NaN        NaN        NaN
6              NaN        NaN        NaN        NaN        NaN        NaN
7              NaN        NaN        1.0        NaN        NaN        NaN
8              NaN        NaN        NaN        NaN        NaN        NaN
9              NaN        NaN        NaN        NaN        NaN        NaN
10             NaN        NaN        NaN        NaN        NaN        NaN
11             NaN        NaN        NaN        NaN        NaN        NaN
12             NaN        NaN        NaN        NaN        NaN        NaN
13             NaN        NaN        NaN        NaN        NaN        NaN
14             NaN        NaN        NaN        NaN        NaN        NaN
15             NaN        NaN        NaN        NaN        NaN        NaN
16             NaN        NaN        NaN        NaN        NaN        NaN
17             NaN        NaN        NaN        NaN        NaN        NaN
18             NaN        NaN        NaN        NaN        NaN        NaN
19             NaN        NaN        NaN        NaN        NaN        NaN
20             NaN        NaN        NaN        NaN        NaN        NaN
21             NaN        NaN        NaN        NaN        NaN        NaN
22             NaN        NaN        NaN        NaN        NaN        NaN
23             NaN        NaN        NaN        NaN        NaN        NaN
24             NaN        NaN        NaN        NaN        NaN        NaN
25             NaN        NaN        NaN        NaN        NaN        NaN
26             NaN        NaN        NaN        NaN        NaN        NaN
27             NaN        NaN        NaN        NaN        NaN        NaN
28             NaN        NaN        NaN        NaN        NaN        NaN
29             NaN        NaN        NaN        NaN        NaN        NaN
30             NaN        NaN        NaN        NaN        NaN        NaN
...            ...        ...        ...        ...        ...        ...
1971           NaN        NaN        NaN        NaN        NaN        NaN
1972           NaN        NaN        NaN        NaN        NaN        NaN
1973           NaN        NaN        NaN        NaN        NaN        NaN
1974           NaN        NaN        NaN        NaN        NaN        NaN
1975           NaN        NaN        NaN        NaN        NaN        NaN
1976           NaN        NaN        NaN        NaN        NaN        NaN
1977           NaN        NaN        NaN        NaN        NaN        NaN
1978           NaN        NaN        NaN        NaN        NaN        NaN
1979           NaN        NaN        NaN        NaN        NaN        NaN
1980           NaN        NaN        NaN        NaN        NaN        NaN
1981           NaN        NaN        NaN        NaN        NaN        NaN
1982           NaN        NaN        NaN        NaN        NaN        NaN
1983           NaN        NaN        NaN        NaN        NaN        NaN
1984           NaN        NaN        NaN        NaN        NaN        NaN
1985           NaN        NaN        NaN       30.0       20.0       40.0
1986           NaN        NaN        NaN        NaN        NaN        NaN
1987           NaN        NaN        NaN        NaN        NaN        NaN
1988           NaN        NaN        NaN        NaN        NaN        NaN
1989           NaN        NaN        NaN        NaN        NaN        NaN
1990           NaN        NaN        NaN        NaN        NaN        NaN
1991           NaN        NaN        NaN        NaN        NaN        NaN
1992           NaN        NaN        NaN        NaN        NaN        NaN
1993           NaN        NaN        NaN        NaN        NaN        NaN
1994           NaN        NaN        NaN        NaN        NaN        NaN
1995           NaN        NaN        NaN        NaN        NaN        NaN
1996           NaN        NaN        NaN        NaN        NaN        NaN
1997           NaN        NaN        NaN        NaN        NaN        NaN
1998           NaN        NaN        NaN        NaN        NaN        NaN
1999           NaN        NaN        NaN        NaN        NaN        NaN
2000           NaN        NaN        NaN        NaN        NaN        NaN

                                                        ...                  \
DATE    2015-07-02 2015-07-03 2015-07-04 2015-07-05     ...      2016-10-22
SHOP_ID                                                 ...
1              NaN        NaN        NaN        NaN     ...      202.000000
2              NaN        NaN        NaN        NaN     ...      155.000000
3              NaN        NaN        NaN        NaN     ...      127.000000
4              NaN        NaN        NaN        NaN     ...      211.000000
5              NaN        NaN        NaN        NaN     ...      161.000000
6              NaN        NaN        NaN        NaN     ...       88.000000
7              1.0        2.0        NaN        NaN     ...      152.000000
8              NaN        NaN        NaN        NaN     ...       68.000000
9              NaN        NaN        NaN        NaN     ...      220.000000
10             NaN        NaN        NaN        NaN     ...       92.000000
11             NaN        NaN        NaN        NaN     ...       53.000000
12             NaN        NaN        NaN        NaN     ...       62.000000
13             NaN        NaN        NaN        NaN     ...      228.000000
14             NaN        NaN        NaN        NaN     ...       59.000000
15             NaN        NaN        NaN        NaN     ...      166.321928
16            43.0       47.0       47.0       82.0     ...       50.000000
17             NaN        NaN        NaN        NaN     ...      147.000000
18             NaN        NaN        NaN        NaN     ...      117.000000
19             NaN        NaN        NaN        NaN     ...      142.000000
20             NaN        NaN        NaN        NaN     ...      128.000000
21             NaN        NaN        NaN        NaN     ...      138.000000
22             NaN        NaN        NaN        NaN     ...      131.000000
23             NaN        NaN        NaN        NaN     ...        3.000000
24             NaN        NaN        NaN        NaN     ...      202.000000
25             NaN        NaN        NaN        NaN     ...      152.000000
26             NaN        NaN        NaN        NaN     ...      144.000000
27             NaN        NaN        NaN        NaN     ...       93.000000
28             NaN        NaN        NaN        NaN     ...       97.000000
29             NaN        NaN        NaN        NaN     ...      182.584963
30             NaN        NaN        NaN        NaN     ...       56.000000
...            ...        ...        ...        ...     ...             ...
1971           NaN        NaN        NaN        NaN     ...      110.000000
1972           NaN        NaN        NaN        NaN     ...      130.000000
1973           NaN        NaN        NaN        NaN     ...       45.000000
1974           NaN        NaN        NaN        NaN     ...       74.000000
1975           NaN        NaN        NaN        NaN     ...      267.000000
1976           NaN        NaN        NaN        NaN     ...      111.000000
1977           NaN        NaN        NaN        NaN     ...      108.000000
1978           NaN        NaN        NaN        NaN     ...      166.000000
1979           NaN        NaN        NaN        NaN     ...       75.000000
1980           NaN        NaN        NaN        NaN     ...       69.000000
1981           NaN        NaN        NaN        NaN     ...      104.000000
1982           NaN        NaN        NaN        NaN     ...       60.000000
1983           NaN        NaN        NaN        NaN     ...       87.000000
1984           NaN        NaN        NaN        NaN     ...       50.000000
1985          43.0       58.0       45.0       33.0     ...      525.000000
1986           NaN        NaN        NaN        NaN     ...      107.000000
1987           NaN        NaN        NaN        NaN     ...       85.000000
1988           NaN        NaN        NaN        NaN     ...      277.000000
1989           NaN        NaN        NaN        NaN     ...       69.000000
1990           NaN        NaN        NaN        NaN     ...      130.169925
1991           NaN        NaN        NaN        NaN     ...       86.000000
1992           NaN        NaN        NaN        NaN     ...      138.000000
1993           NaN        NaN        NaN        NaN     ...       88.000000
1994           NaN        NaN        NaN        NaN     ...      154.000000
1995           NaN        NaN        NaN        NaN     ...       64.000000
1996           NaN        NaN        NaN        NaN     ...       85.000000
1997           NaN        NaN        NaN        NaN     ...       87.000000
1998           NaN        NaN        NaN        NaN     ...      314.584963
1999           NaN        NaN        NaN        NaN     ...      445.000000
2000           NaN        NaN        NaN        NaN     ...       66.000000

                                                                     \
DATE     2016-10-23  2016-10-24  2016-10-25  2016-10-26  2016-10-27
SHOP_ID
1        243.000000  215.584963  255.000000  172.000000  226.000000
2        143.000000   78.000000   82.000000   97.000000   83.000000
3        125.000000   47.000000   80.000000   61.000000   68.000000
4        221.000000   81.000000   90.000000  104.000000   55.000000
5        240.000000  453.584963  302.000000    1.000000         NaN
6         76.000000  104.000000   97.000000  100.000000  117.000000
7        200.000000  124.000000  128.000000  115.000000  111.000000
8         89.000000   67.584963   70.000000   68.000000   72.000000
9        310.000000  246.000000  210.000000  197.000000  245.000000
10       115.000000   60.000000   77.000000  114.000000   85.000000
11        58.000000   89.000000   91.000000   97.000000   89.000000
12        87.000000   35.000000   35.000000   59.000000   60.000000
13       256.000000  285.000000  289.584963  238.000000  236.000000
14        41.000000   58.000000   60.000000   60.000000   59.000000
15       225.584963  121.000000  134.000000  125.584963  128.584963
16        67.000000   38.000000   38.000000   39.000000   47.584963
17       114.000000   81.000000   89.000000   88.000000   80.584963
18        81.000000   80.000000   74.000000   82.000000  103.000000
19       246.000000  159.000000  148.000000   89.000000  152.000000
20       119.000000  158.584963  164.000000  134.000000  150.169925
21       139.000000   74.000000   67.000000   74.000000   79.000000
22       124.000000  103.000000  110.000000  123.000000  105.000000
23         1.000000   28.000000   33.000000   14.000000    9.000000
24       203.169925   77.000000   83.000000   82.584963   54.000000
25       146.000000  110.000000  119.000000  114.000000   98.000000
26       148.000000   63.000000   49.000000   59.584963   65.000000
27       101.000000   96.000000   83.000000   90.000000   98.000000
28       103.000000   67.000000   64.000000   67.000000   69.000000
29       194.584963  110.000000   81.000000   91.000000   98.000000
30        66.000000   45.584963   36.000000   47.000000   50.000000
...             ...         ...         ...         ...         ...
1971     179.000000  260.000000  236.000000  166.000000  243.000000
1972     117.584963   64.000000   75.000000   51.000000   74.000000
1973      31.000000   49.000000   48.000000   42.000000   44.000000
1974     151.000000  193.000000  181.000000  108.000000  148.000000
1975     321.584963  159.000000  179.584963  196.000000  144.000000
1976     117.584963   92.000000   81.000000   95.000000   96.000000
1977     141.000000  156.000000  136.000000  126.000000  155.000000
1978     253.000000  165.584963  196.000000  141.000000  206.584963
1979      69.000000   55.000000   49.000000   63.000000   53.000000
1980      59.584963   46.000000   52.000000   45.000000   50.000000
1981      80.000000  137.000000  104.000000  114.000000  170.000000
1982      50.000000   88.000000   81.000000   81.000000   82.000000
1983     102.000000   89.000000  118.000000  122.000000  135.000000
1984      44.000000   72.000000   72.000000   65.000000   69.000000
1985     550.000000  384.584963  449.584963  435.000000  535.000000
1986     118.584963   98.000000   91.000000  111.584963   94.000000
1987     122.000000   49.584963   47.000000   49.000000   77.000000
1988     286.000000  175.000000  189.000000  201.000000  184.584963
1989      96.000000   54.584963   63.000000   54.584963   60.000000
1990     106.000000   77.000000   81.000000   77.000000   75.000000
1991     136.000000  136.000000  150.000000  128.584963  119.000000
1992      94.000000   78.584963   68.000000   58.000000   65.000000
1993      90.000000   62.000000   57.000000   76.000000  106.000000
1994     160.584963  157.000000  162.000000  129.000000  145.000000
1995      85.000000   60.000000   52.000000   55.000000   72.000000
1996      80.000000   87.000000   91.000000  101.000000   99.584963
1997     117.584963  289.000000  276.000000  293.000000  285.000000
1998     328.000000  563.000000  575.000000  559.000000  638.000000
1999     438.000000  300.000000  309.000000  294.000000  298.000000
2000      59.000000  161.584963  180.584963  184.000000  132.000000


DATE     2016-10-28  2016-10-29  2016-10-30  2016-10-31
SHOP_ID
1        257.000000  251.000000  280.584963  180.000000
2         96.000000   96.000000  115.000000   80.000000
3        103.000000  102.000000  104.000000   67.000000
4        109.000000  215.000000  195.000000  115.000000
5        215.000000  203.000000  291.000000  239.000000
6        133.000000  109.000000  118.000000   85.000000
7        128.000000  165.000000  162.000000   81.000000
8         49.000000   70.000000   71.000000   35.000000
9        205.000000  290.584963  283.000000  212.000000
10        84.000000   99.000000   93.000000  121.000000
11        84.000000   70.000000   89.000000  105.000000
12        74.000000   90.000000   89.000000   56.000000
13       242.000000  214.000000  241.000000  229.000000
14        51.000000   61.000000   66.000000   60.000000
15       153.000000  198.169925  192.584963  134.000000
16        50.000000   38.000000   38.000000   32.000000
17       102.000000  105.000000   99.584963   80.000000
18        88.000000  149.000000  134.000000   98.000000
19       160.584963  183.000000  226.000000  142.000000
20       137.000000  139.000000  135.169925  173.000000
21        91.000000  140.000000  117.000000   95.000000
22       134.584963  129.000000  125.584963  125.000000
23        71.000000   56.000000   57.000000  121.000000
24        61.000000   89.000000  104.000000   56.584963
25       142.000000  147.000000  120.000000  119.000000
26        62.000000  123.000000  140.584963   55.000000
27        88.000000   97.000000   82.000000   88.000000
28        79.000000   84.000000   99.000000   53.000000
29       145.000000  223.000000  202.000000  110.000000
30        60.000000   49.000000   52.000000   51.584963
...             ...         ...         ...         ...
1971     249.000000  199.000000  167.000000  229.000000
1972      84.000000  116.169925  116.584963   72.000000
1973      37.000000   31.000000   26.000000    3.000000
1974     173.000000  108.000000  112.000000  157.000000
1975     293.000000  398.000000  344.000000  199.000000
1976     101.000000   90.000000  101.000000  102.584963
1977     121.000000  105.000000  147.584963  111.000000
1978     272.584963  263.169925  244.584963  189.584963
1979      83.000000   66.000000   76.000000   66.000000
1980      50.000000   66.000000   60.000000   46.000000
1981     109.000000   67.000000   90.000000  122.000000
1982      79.584963  117.000000   73.000000  111.000000
1983     147.000000  131.000000  104.000000  107.000000
1984      67.000000   69.000000   53.000000   76.000000
1985     727.000000  520.000000  450.000000  410.000000
1986      86.000000   81.000000   93.000000  102.000000
1987      42.000000  106.000000  113.000000   33.000000
1988     213.000000  195.000000  177.000000  231.584963
1989     112.000000   85.000000  124.491853   56.000000
1990      98.000000  127.169925  122.000000   67.000000
1991     119.000000  115.584963  104.000000  128.000000
1992      58.000000  128.000000  124.000000   67.584963
1993      74.000000   79.000000   85.000000   34.000000
1994     191.000000  156.000000  147.000000  138.584963
1995      63.000000   79.000000   83.000000   64.000000
1996     104.000000  101.000000   96.000000   92.000000
1997     219.000000  120.000000  109.584963  298.000000
1998     610.000000  425.189475  328.000000  620.000000
1999     316.000000  147.000000  452.000000  331.000000
2000     133.000000   67.000000   67.000000  168.000000

[2000 rows x 493 columns]

In [5]:
#因为数据集中没有2015-12-12那日的信息，所以要填补上 （在2015-12-11后插了一列空值）
PAYNW_TAB = pd.concat( [PAYNW_TAB[PAYNW_TAB.columns[0:169:1]], pd.DataFrame({'A':[np.nan],},index=np.arange(1,2001)),PAYNW_TAB[PAYNW_TAB.columns[169::1]] ], axis = 1)
PAYNW_TAB.columns = [str((datetime.datetime.strptime('20150626','%Y%m%d') + datetime.timedelta(days=x)).date()) for x in range( PAYNW_TAB.shape[1])] #给列重命名

In [30]:
#抽取出2016-10-09至2016-10-31的数据
PAYNW_TAB_OCT = PAYNW_TAB.loc[:,'2016-10-09':'2016-10-31']
PAYNW_TAB_OCT.reset_index(inplace=True)
PAYNW_TAB_OCT

,SHOP_ID,2016-10-09,2016-10-10,2016-10-11,2016-10-12,2016-10-13,2016-10-14,2016-10-15,2016-10-16,2016-10-17,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
0,1,256.000000,239.000000,254.000000,239.000000,228.000000,243.584963,264.000000,264.000000,206.584963,...,202.000000,243.000000,215.584963,255.000000,172.000000,226.000000,257.000000,251.000000,280.584963,180.000000
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,155.000000,143.000000,78.000000,82.000000,97.000000,83.000000,96.000000,96.000000,115.000000,80.000000
2,3,77.000000,68.000000,68.000000,63.000000,56.000000,71.000000,119.000000,97.000000,75.000000,...,127.000000,125.000000,47.000000,80.000000,61.000000,68.000000,103.000000,102.000000,104.000000,67.000000
3,4,88.000000,78.000000,86.000000,113.000000,71.000000,121.000000,165.000000,200.000000,89.000000,...,211.000000,221.000000,81.000000,90.000000,104.000000,55.000000,109.000000,215.000000,195.000000,115.000000
4,5,276.000000,312.000000,223.000000,218.000000,230.000000,195.000000,185.000000,211.000000,274.000000,...,161.000000,240.000000,453.584963,302.000000,1.000000,NaN,215.000000,203.000000,291.000000,239.000000
5,6,84.584963,64.000000,83.000000,91.000000,90.000000,121.000000,112.000000,137.000000,83.000000,...,88.000000,76.000000,104.000000,97.000000,100.000000,117.000000,133.000000,109.000000,118.000000,85.000000
6,7,156.584963,117.000000,133.906891,93.000000,128.000000,139.584963,182.584963,207.584963,135.000000,...,152.000000,200.000000,124.000000,128.000000,115.000000,111.000000,128.000000,165.000000,162.000000,81.000000
7,8,60.000000,72.000000,80.169925,63.000000,65.000000,49.000000,100.584963,101.000000,66.000000,...,68.000000,89.000000,67.584963,70.000000,68.000000,72.000000,49.000000,70.000000,71.000000,35.000000
8,9,233.000000,234.000000,225.000000,201.584963,192.000000,197.000000,251.000000,282.000000,254.000000,...,220.000000,310.000000,246.000000,210.000000,197.000000,245.000000,205.000000,290.584963,283.000000,212.000000
9,10,67.000000,71.000000,108.000000,111.000000,73.000000,89.000000,76.000000,102.584963,96.000000,...,92.000000,115.000000,60.000000,77.000000,114.000000,85.000000,84.000000,99.000000,93.000000,121.000000
10,11,56.000000,84.000000,79.000000,85.000000,95.000000,113.000000,72.000000,58.000000,98.000000,...,53.000000,58.000000,89.000000,91.000000,97.000000,89.000000,84.000000,70.000000,89.000000,105.000000
11,12,76.000000,62.000000,55.000000,55.000000,52.000000,59.000000,83.000000,65.000000,69.000000,...,62.000000,87.000000,35.000000,35.000000,59.000000,60.000000,74.000000,90.000000,89.000000,56.000000
12,13,227.000000,225.000000,234.000000,297.000000,238.000000,250.000000,221.000000,231.584963,235.000000,...,228.000000,256.000000,285.000000,289.584963,238.000000,236.000000,242.000000,214.000000,241.000000,229.000000
13,14,58.000000,64.000000,64.000000,56.000000,51.000000,56.000000,79.000000,44.000000,65.000000,...,59.000000,41.000000,58.000000,60.000000,60.000000,59.000000,51.000000,61.000000,66.000000,60.000000
14,15,131.584963,111.584963,111.000000,112.584963,125.169925,122.754888,201.321928,176.000000,134.584963,...,166.321928,225.584963,121.000000,134.000000,125.584963,128.584963,153.000000,198.169925,192.584963,134.000000
15,16,35.000000,31.000000,41.000000,48.584963,30.000000,68.584963,62.584963,39.584963,42.000000,...,50.000000,67.000000,38.000000,38.000000,39.000000,47.584963,50.000000,38.000000,38.000000,32.000000
16,17,82.000000,73.584963,81.000000,71.000000,82.000000,89.000000,122.169925,119.000000,89.000000,...,147.000000,114.000000,81.000000,89.000000,88.000000,80.584963,102.000000,105.000000,99.584963,80.000000
17,18,98.000000,68.000000,70.000000,87.000000,73.000000,107.000000,104.000000,112.000000,71.000000,...,117.000000,81.000000,80.000000,74.000000,82.000000,103.000000,88.000000,149.000000,134.000000,98.000000
18,19,143.000000,138.000000,153.000000,141.000000,173.000000,150.000000,210.000000,255.000000,163.000000,...,142.000000,246.000000,159.000000,148.000000,89.000000,152.000000,160.584963,183.000000,226.000000,142.000000
19,20,157.000000,159.584963,167.000000,165.000000,137.000000,154.000000,142.459432,139.584963,155.000000,...,128.000000,119.000000,158.584963,164.000000,134.000000,150.169925,137.000000,139.000000,135.169925,173.000000
20,21,75.000000,72.000000,69.584963,70.000000,59.000000,82.000000,114.000000,112.000000,69.000000,...,138.000000,139.000000,74.000000,67.000000,74.000000,79.000000,91.000000,140.000000,117.000000,95.000000
21,22,57.000000,80.000000,96.000000,116.000000,94.000000,127.000000,102.000000,107.000000,80.584963,...,131.000000,124.000000,103.000000,110.000000,123.000000,105.000000,134.584963,129.000000,125.584963,125.000000
22,23,12.000000,4.000000,14.000000,10.000000,3.000000,8.000000,10.000000,1.000000,18.000000,...,3.000000,1.000000,28.000000,33.000000,14.000000,9.000000,71.000000,56.000000,57.000000,121.000000
23,24,57.000000,36.000000,37.000000,60.000000,69.000000,68.000000,108.584963,124.000000,32.000000,...,202.000000,203.169925,77.000000,83.000000,82.584963,54.000000,61.000000,89.000000,104.000000,56.584963
24,25,114.000000,142.000000,106.584963,130.000000,113.000000,119.000000,147.000000,121.000000,97.584963,...,152.000000,146.000000,110.000000,119.000000,114.000000,98.000000,142.000000,147.000000,120.000000,119.000000
25,26,88.000000,78.044394,69.000000,79.000000,85.000000,69.000000,147.000000,141.584963,51.000000,...,144.000000,148.000000,63.000000,49.000000,59.584963,65.000000,62.000000,123.000000,140.584963,55.000000
26,27,74.000000,100.000000,92.000000,101.000000,84.000000,98.000000,69.000000,74.000000,80.000000,...,93.000000,101.000000,96.000000,83.000000,90.000000,98.000000,88.000000,97.000000,82.000000,88.000000
27,28,75.584963,53.000000,64.000000,62.000000,62.000000,80.000000,83.584963,86.000000,53.000000,...,97.000000,103.000000,67.000000,64.000000,67.000000,69.000000,79.000000,84.000000,99.000000,53.000000
28,29,113.584963,82.000000,83.000000,84.000000,85.000000,124.000000,187.000000,165.000000,76.000000,...,182.584963,194.584963,110.000000,81.000000,91.000000,98.000000,145.000000,223.000000,202.000000,110.000000
29,30,47.000000,52.584963,31.000000,47.584963,38.000000,41.000000,38.000000,58.000000,36.000000,...,56.000000,66.000000,45.584963,36.000000,47.000000,50.000000,60.000000,49.000000,52.000000,51.584963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,234.000000,228.000000,242.000000,230.000000,244.000000,263.000000,209.000000,160.000000,227.584963,...,110.000000,179.000000,260.000000,236.000000,166.000000,243.000000,249.000000,199.000000,167.000000,229.000000
1971,1972,61.584963,64.169925,51.584963,91.000000,101.000000,87.000000,125.169925,149.169925,52.000000,...,130.000000,117.584963,64.000000,75.000000,51.000000,74.000000,84.000000,116.169925,116.584963,72.000000
1972,1973,65.000000,59.000000,71.584963,76.000000,49.000000,51.000000,40.584963,30.000000,63.000000,...,45.000000,31.000000,49.000000,48.000000,42.000000,44.000000,37.000000,31.000000,26.000000,3.000000
1973,1974,162.000000,184.000000,163.000000,163.000000,190.000000,185.000000,128.000000,137.000000,161.584963,...,74.000000,151.000000,193.000000,181.000000,108.000000,148.000000,173.000000,108.000000,112.000000,157.000000
1974,1975,215.000000,184.000000,177.000000,180.000000,167.000000,266.584963,264.000000,274.000000,151.000000,...,267.000000,321.584963,159.000000,179.584963,196.000000,144.000000,293.000000,398.000000,344.000000,199.000000
1975,1976,66.000000,86.000000,64.000000,105.584963,78.000000,107.000000,98.000000,101.000000,90.584963,...,111.000000,117.584963,92.000000,81.000000,95.000000,96.000000,101.000000,90.000000,101.000000,102.584963
1976,1977,113.000000,117.000000,112.000000,133.000000,132.000000,158.000000,136.000000,122.000000,156.000000,...,108.000000,141.000000,156.000000,136.000000,126.000000,155.000000,121.000000,105.000000,147.584963,111.000000
1977,1978,152.000000,158.000000,180.584963,202.000000,182.000000,273.000000,247.000000,243.584963,137.000000,...,166.000000,253.000000,165.584963,196.000000,141.000000,206.584963,272.584963,263.169925,244.584963,189.584963
1978,1979,57.000000,55.000000,65.000000,72.000000,56.000000,71.000000,74.000000,66.000000,64.000000,...,75.000000,69.000000,55.000000,49.000000,63.000000,53.000000,83.000000,66.000000,76.000000,66.000000
1979,1980,55.000000,39.000000,50.000000,43.000000,43.000000,38.000000,68.000000,67.000000,42.000000,...,69.000000,59.584963,46.000000,52.000000,45.000000,50.000000,50.000000,66.000000,60.000000,46.000000
1980,1981,66.000000,84.000000,111.000000,91.000000,85.000000,104.000000,76.000000,106.000000,107.000000,...,104.000000,80.000000,137.000000,104.000000,114.000000,170.000000,109.000000,67.000000,90.000000,122.000000
1981,1982,48.000000,55.000000,47.000000,48.000000,64.000000,64.000000,64.000000,39.000000,81.000000,...,60.000000,50.000000,88.000000,81.000000,81.000000,82.000000,79.584963,117.000000,73.000000,111.000000
1982,1983,84.000000,87.000000,85.000000,109.000000,84.000000,86.000000,87.000000,122.169925,78.000000,...,87.000000,102.000000,89.000000,118.000000,122.000000,135.000000,147.000000,131.000000,104.000000,107.000000
1983,1984,45.000000,62.000000,69.000000,61.000000,62.000000,52.000000,54.000000,61.000000,53.000000,...,50.000000,44.000000,72.000000,72.000000,65.000000,69.000000,67.000000,69.000000,53.000000,76.000000
1984,1985,371.584963,363.000000,390.584963,414.000000,456.584963,571.000000,487.000000,430.000000,430.169925,...,525.000000,550.000000,384.584963,449.584963,435.000000,535.000000,727.000000,520.000000,450.000000,410.000000
1985,1986,83.000000,91.000000,97.584963,84.584963,91.000000,87.000000,102.000000,104.584963,63.000000,...,107.000000,118.584963,98.000000,91.000000,111.584963,94.000000,86.000000,81.000000,93.000000,102.000000
1986,1987,58.000000,42.000000,45.000000,50.000000,54.000000,63.000000,145.000000,112.000000,37.000000,...,85.000000,122.000000,49.584963,47.000000,49.000000,77.000000,42.000000,106.000000,113.000000,33.000000
1987,1988,194.000000,173.000000,161.000000,169.000000,147.000000,173.000000,267.000000,305.000000,195.000000,...,277.000000,286.000000,175.000000,189.000000,201.000000,184.584963,213.000000,195.000000,177.000000,231.584963
1988,1989,60.000000,39.000000,43.000000,61.000000,63.000000,119.000000,109.000000,141.754888,69.000000,...,69.000000,96.000000,54.584963,63.000000,54.584963,60.000000,112.000000,85.000000,124.491853,56.000000
1989,1990,72.000000,100.000000,79.584963,78.000000,86.000000,96.000000,117.584963,119.000000,57.000000,...,130.169925,106.000000,77.000000,81.000000,77.000000,75.000000,98.000000,127.169925,122.000000,67.000000
1990,1991,130.000000,135.000000,130.000000,150.000000,148.000000,126.000000,128.000000,131.584963,143.000000,...,86.000000,136.000000,136.000000,150.000000,128.584963,119.000000,119.000000,115.584963,104.000000,128.000000
1991,1992,52.000000,65.000000,59.000000,74.584963,56.000000,62.000000,121.000000,120.000000,49.000000,...,138.000000,94.000000,78.584963,68.000000,58.000000,65.000000,58.000000,128.000000,124.000000,67.584963
1992,1993,35.000000,NaN,NaN,NaN,NaN,80.000000,74.000000,70.584963,58.000000,...,88.000000,90.000000,62.000000,57.000000,76.000000,106.000000,74.000000,79.000000,85.000000,34.000000
1993,1994,137.000000,127.584963,150.000000,138.000000,152.000000,128.000000,134.000000,128.000000,158.000000,...,154.000000,160.584963,157.000000,162.000000,129.000000,145.000000,191.000000,156.000000,147.000000,138.584963
1994,1995,51.584963,64.000000,61.000000,69.000000,60.000000,68.000000,55.000000,71.000000,58.000000,...,64.000000,85.000000,60.000000,52.000000,55.000000,72.000000,63.000000,79.000000,83.000000,64.000000
1995,1996,68.000000,77.000000,84.000000,81.000000,89.000000,83.000000,77.000000,75.000000,76.000000,...,85.000000,80.000000,87.000000,91.000000,101.000000,99.584963,104.000000,101.000000,96.000000,92.000000
1996,1997,285.000000,299.000000,313.000000,286.000000,285.000000,282.584963,97.000000,119.584963,340.584963,...,87.000000,117.584963,289.000000,276.000000,293.000000,285.000000,219.000000,120.000000,109.584963,298.000000
1997,1998,390.000000,455.000000,460.000000,459.584963,471.000000,438.584963,236.000000,309.000000,513.000000,...,314.584963,328.000000,563.000000,575.000000,559.000000,638.000000,610.000000,425.189475,328.000000,620.000000
1998,1999,305.000000,338.000000,271.000000,310.000000,309.584963,354.584963,499.000000,538.000000,309.000000,...,445.000000,438.000000,300.000000,309.000000,294.000000,298.000000,316.000000,147.000000,452.000000,331.000000
1999,2000,176.000000,161.000000,162.584963,159.000000,177.000000,147.584963,78.000000,60.000000,163.000000,...,66.000000,59.000000,161.584963,180.584963,184.000000,132.000000,133.000000,67.000000,67.000000,168.000000

In [32]:
inspect_cols = [str((datetime.datetime.strptime('20161009','%Y%m%d') + datetime.timedelta(days=x)).date()) for x in range(23)]#即从2016-10-9到2016-10-31               

SHOP_MELT = pd.melt(PAYNW_TAB_OCT , id_vars==['SHOP_ID'], value_vars = inspect_cols) #pandas melt将透视图融解
SHOP_MELT = SHOP_MELT.rename(columns = {'variable':'DATE'})
SHOP_MELT

       SHOP_ID        DATE       value
0            1  2016-10-09  256.000000
1            2  2016-10-09         NaN
2            3  2016-10-09   77.000000
3            4  2016-10-09   88.000000
4            5  2016-10-09  276.000000
5            6  2016-10-09   84.584963
6            7  2016-10-09  156.584963
7            8  2016-10-09   60.000000
8            9  2016-10-09  233.000000
9           10  2016-10-09   67.000000
10          11  2016-10-09   56.000000
11          12  2016-10-09   76.000000
12          13  2016-10-09  227.000000
13          14  2016-10-09   58.000000
14          15  2016-10-09  131.584963
15          16  2016-10-09   35.000000
16          17  2016-10-09   82.000000
17          18  2016-10-09   98.000000
18          19  2016-10-09  143.000000
19          20  2016-10-09  157.000000
20          21  2016-10-09   75.000000
21          22  2016-10-09   57.000000
22          23  2016-10-09   12.000000
23          24  2016-10-09   57.000000
24          25  2016-10-09  114.000000
25          26  2016-10-09   88.000000
26          27  2016-10-09   74.000000
27          28  2016-10-09   75.584963
28          29  2016-10-09  113.584963
29          30  2016-10-09   47.000000
...        ...         ...         ...
45970     1971  2016-10-31  229.000000
45971     1972  2016-10-31   72.000000
45972     1973  2016-10-31    3.000000
45973     1974  2016-10-31  157.000000
45974     1975  2016-10-31  199.000000
45975     1976  2016-10-31  102.584963
45976     1977  2016-10-31  111.000000
45977     1978  2016-10-31  189.584963
45978     1979  2016-10-31   66.000000
45979     1980  2016-10-31   46.000000
45980     1981  2016-10-31  122.000000
45981     1982  2016-10-31  111.000000
45982     1983  2016-10-31  107.000000
45983     1984  2016-10-31   76.000000
45984     1985  2016-10-31  410.000000
45985     1986  2016-10-31  102.000000
45986     1987  2016-10-31   33.000000
45987     1988  2016-10-31  231.584963
45988     1989  2016-10-31   56.000000
45989     1990  2016-10-31   67.000000
45990     1991  2016-10-31  128.000000
45991     1992  2016-10-31   67.584963
45992     1993  2016-10-31   34.000000
45993     1994  2016-10-31  138.584963
45994     1995  2016-10-31   64.000000
45995     1996  2016-10-31   92.000000
45996     1997  2016-10-31  298.000000
45997     1998  2016-10-31  620.000000
45998     1999  2016-10-31  331.000000
45999     2000  2016-10-31  168.000000

[46000 rows x 3 columns]

In [46]:
#异常值处理
#找出这些天中偶尔有几天客流量小（可能是异常值）的店铺，将这天的客流量用附近四周对应的四天中的最小值替换

#找商铺的小客流量日期
SMALL_SHOP = SHOP_MELT.loc[SHOP_MELT['value'] <= 10,:]
SMALL_SHOP = SMALL_SHOP.sort_values(by = ['SHOP_ID','DATE'])
SMALL_count = SMALL_SHOP.groupby(by = ['SHOP_ID'],as_index = False).count()
SMALL_count = SMALL_count[SMALL_count['DATE']<=2]
SMALL_SHOP = SMALL_SHOP[SMALL_SHOP.SHOP_ID.isin(SMALL_count.SHOP_ID)]
SMALL_SHOP.index = np.arange(len(SMALL_SHOP))

#找出SMALL_SHOP表中日期的附近四周对应的四天的客流量
Substitude_list = []
for ind,value in SMALL_SHOP.iterrows():#pandas iterrows 迭代的遍历df的行
    SHOP_ID = value.SHOP_ID
    DATE  = value.DATE   
    Day_shift_list = [-14,-7,7,14]
    Shop_sub_list = []
    for shift_ind in Day_shift_list:   
        DATE_shift = str((datetime.datetime.strptime(DATE,'%Y-%m-%d') + datetime.timedelta(days = shift_ind)).date()) 
        try:
            value_append = PAYNW_TAB.loc[SHOP_ID, DATE_shift ]
        except:
            value_append = np.nan
        Shop_sub_list.append(value_append)
    Substitude_list.append(Shop_sub_list)

#用附近四周对应四天的最小客流量替换这一天的客流量
Substitude_list = pd.DataFrame( Substitude_list )
SMALL_SHOP = pd.concat([SMALL_SHOP, Substitude_list] ,axis = 1)
SMALL_SHOP['Num_post'] = SMALL_SHOP[np.arange(4)].min(axis = 1)

print SMALL_SHOP.head()

#同时更新PAYNW_TAB表
for ind,value in SMALL_SHOP.iterrows():
    SHOP_ID = value.SHOP_ID
    DATE = value.DATE
    PAYNW_TAB.loc[SHOP_ID,DATE] = value.Num_post

   SHOP_ID        DATE  value      0           1     2   3    Num_post
0        5  2016-10-26    1.0  218.0  210.000000   NaN NaN  210.000000
1       18  2016-10-19    3.0   56.0   87.000000  82.0 NaN   56.000000
2       76  2016-10-20   10.0   46.0   41.000000  52.0 NaN   41.000000
3       76  2016-10-21    7.0   62.0   35.584963  60.0 NaN   35.584963
4      190  2016-10-21    1.0   68.0   81.000000  86.0 NaN   68.000000

In [48]:
#用FillOct表中的数据替换PAYNW_TAB中的空值和异常值
PAYNW_TAB_FIX = pd.read_csv('./Flamingo_Rank4_code/data_new/FillOct.csv')

PAYNW_TAB_FIX['DATE'] = [ (lambda x:str(datetime.datetime.strptime(x,'%Y/%m/%d').date() ) ) (x) for x in  PAYNW_TAB_FIX['DATE']]
for ind,value in PAYNW_TAB_FIX.iterrows():
    SHOP_ID = value.SHOP_ID
    DATE = value.DATE
    PAYNW_TAB.loc[SHOP_ID,DATE] = value.Num_post

   SHOP_ID        DATE  Num_post
0        2   2016/10/8     128.0
1        2   2016/10/9     132.0
2        2  2016/10/10     100.0
3        2  2016/10/11      83.0
4        2  2016/10/12      88.0

In [54]:
#生成测试集历史过去三周销量表格
TRN_N = 21
TST_N = 14

TEST= pd.DataFrame()
TRN_END = datetime.datetime.strptime('2016-10-31','%Y-%m-%d')
TRN_STA = (TRN_END - datetime.timedelta(days=(TRN_N-1)) )
TST_STA = (TRN_END +  datetime.timedelta(days=(1)) )
TST_END = (TRN_END +  datetime.timedelta(days=(TST_N)) )

test_date_zip = zip([str(TRN_STA.date())],[str(TRN_END.date())],[str(TST_STA.date())],  [str(TST_END.date()) ])#[('2016-10-11', '2016-10-31', '2016-11-01', '2016-11-14')]

TEST =  PAYNW_TAB.loc[:,str(TRN_STA.date()):str(TRN_END.date())]   
TEST.reset_index(inplace=True)

TEST.loc[:,'TRN_STA']  = str(TRN_STA.date())
TEST.loc[:,'TRN_END']  = str(TRN_END.date())
TEST.loc[:,'TST_STA']  = str(TST_STA.date())
TEST.loc[:,'TST_END']  = str(TST_END.date())
TEST_TRN_C =  map(lambda x:'SA'+ str(x).zfill(2), np.arange(TRN_N))
TEST.columns = ['SHOP_ID']  + TEST_TRN_C  + ['TRN_STA','TRN_END','TST_STA','TST_END']

In [58]:
TEST

,SHOP_ID,SA00,SA01,SA02,SA03,SA04,SA05,SA06,SA07,SA08,...,SA15,SA16,SA17,SA18,SA19,SA20,TRN_STA,TRN_END,TST_STA,TST_END
0,1,254.000000,239.000000,228.000000,243.584963,264.000000,264.000000,206.584963,244.000000,177.000000,...,172.000000,226.000000,257.000000,251.000000,280.584963,180.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1,2,83.000000,88.000000,87.000000,95.000000,133.000000,134.169925,106.000000,90.000000,108.754887,...,97.000000,83.000000,96.000000,96.000000,115.000000,80.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
2,3,68.000000,63.000000,56.000000,71.000000,119.000000,97.000000,75.000000,59.000000,71.000000,...,61.000000,68.000000,103.000000,102.000000,104.000000,67.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
3,4,86.000000,113.000000,71.000000,121.000000,165.000000,200.000000,89.000000,90.000000,112.000000,...,104.000000,55.000000,109.000000,215.000000,195.000000,115.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
4,5,223.000000,218.000000,230.000000,195.000000,185.000000,211.000000,274.000000,201.000000,210.000000,...,350.000000,250.000000,215.000000,203.000000,291.000000,239.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
5,6,83.000000,91.000000,90.000000,121.000000,112.000000,137.000000,83.000000,104.000000,104.000000,...,100.000000,117.000000,133.000000,109.000000,118.000000,85.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
6,7,133.906891,93.000000,128.000000,139.584963,182.584963,207.584963,135.000000,100.584963,94.000000,...,115.000000,111.000000,128.000000,165.000000,162.000000,81.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
7,8,80.169925,63.000000,65.000000,49.000000,100.584963,101.000000,66.000000,49.000000,55.000000,...,68.000000,72.000000,49.000000,70.000000,71.000000,35.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
8,9,225.000000,201.584963,192.000000,197.000000,251.000000,282.000000,254.000000,180.000000,213.000000,...,197.000000,245.000000,205.000000,290.584963,283.000000,212.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
9,10,108.000000,111.000000,73.000000,89.000000,76.000000,102.584963,96.000000,90.000000,139.000000,...,114.000000,85.000000,84.000000,99.000000,93.000000,121.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
10,11,79.000000,85.000000,95.000000,113.000000,72.000000,58.000000,98.000000,114.000000,96.000000,...,97.000000,89.000000,84.000000,70.000000,89.000000,105.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
11,12,55.000000,55.000000,52.000000,59.000000,83.000000,65.000000,69.000000,43.000000,51.000000,...,59.000000,60.000000,74.000000,90.000000,89.000000,56.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
12,13,234.000000,297.000000,238.000000,250.000000,221.000000,231.584963,235.000000,225.000000,223.000000,...,238.000000,236.000000,242.000000,214.000000,241.000000,229.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
13,14,64.000000,56.000000,51.000000,56.000000,79.000000,44.000000,65.000000,51.000000,56.000000,...,60.000000,59.000000,51.000000,61.000000,66.000000,60.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
14,15,111.000000,112.584963,125.169925,122.754888,201.321928,176.000000,134.584963,107.000000,123.000000,...,125.584963,128.584963,153.000000,198.169925,192.584963,134.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
15,16,41.000000,48.584963,30.000000,68.584963,62.584963,39.584963,42.000000,58.000000,41.000000,...,39.000000,47.584963,50.000000,38.000000,38.000000,32.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
16,17,81.000000,71.000000,82.000000,89.000000,122.169925,119.000000,89.000000,82.000000,81.000000,...,88.000000,80.584963,102.000000,105.000000,99.584963,80.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
17,18,70.000000,87.000000,73.000000,107.000000,104.000000,112.000000,71.000000,75.000000,87.000000,...,82.000000,103.000000,88.000000,149.000000,134.000000,98.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
18,19,153.000000,141.000000,173.000000,150.000000,210.000000,255.000000,163.000000,152.000000,148.584963,...,89.000000,152.000000,160.584963,183.000000,226.000000,142.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
19,20,167.000000,165.000000,137.000000,154.000000,142.459432,139.584963,155.000000,162.000000,148.584963,...,134.000000,150.169925,137.000000,139.000000,135.169925,173.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
20,21,69.584963,70.000000,59.000000,82.000000,114.000000,112.000000,69.000000,67.000000,73.000000,...,74.000000,79.000000,91.000000,140.000000,117.000000,95.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
21,22,96.000000,116.000000,94.000000,127.000000,102.000000,107.000000,80.584963,81.000000,101.000000,...,123.000000,105.000000,134.584963,129.000000,125.584963,125.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
22,23,14.000000,10.000000,3.000000,8.000000,10.000000,1.000000,18.000000,12.000000,12.000000,...,14.000000,9.000000,71.000000,56.000000,57.000000,121.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
23,24,37.000000,60.000000,69.000000,68.000000,108.584963,124.000000,32.000000,65.000000,56.000000,...,82.584963,54.000000,61.000000,89.000000,104.000000,56.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
24,25,106.584963,130.000000,113.000000,119.000000,147.000000,121.000000,97.584963,115.000000,96.584963,...,114.000000,98.000000,142.000000,147.000000,120.000000,119.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
25,26,69.000000,79.000000,85.000000,69.000000,147.000000,141.584963,51.000000,57.000000,69.000000,...,59.584963,65.000000,62.000000,123.000000,140.584963,55.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
26,27,92.000000,101.000000,84.000000,98.000000,69.000000,74.000000,80.000000,68.000000,69.000000,...,90.000000,98.000000,88.000000,97.000000,82.000000,88.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
27,28,64.000000,62.000000,62.000000,80.000000,83.584963,86.000000,53.000000,67.000000,39.000000,...,67.000000,69.000000,79.000000,84.000000,99.000000,53.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
28,29,83.000000,84.000000,85.000000,124.000000,187.000000,165.000000,76.000000,83.000000,81.000000,...,91.000000,98.000000,145.000000,223.000000,202.000000,110.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
29,30,31.000000,47.584963,38.000000,41.000000,38.000000,58.000000,36.000000,31.000000,42.584963,...,47.000000,50.000000,60.000000,49.000000,52.000000,51.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,242.000000,230.000000,244.000000,263.000000,209.000000,160.000000,227.584963,264.000000,240.000000,...,166.000000,243.000000,249.000000,199.000000,167.000000,229.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1971,1972,51.584963,91.000000,101.000000,87.000000,125.169925,149.169925,52.000000,66.000000,57.000000,...,51.000000,74.000000,84.000000,116.169925,116.584963,72.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1972,1973,71.584963,76.000000,49.000000,51.000000,40.584963,30.000000,63.000000,51.000000,58.000000,...,42.000000,44.000000,37.000000,31.000000,26.000000,49.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1973,1974,163.000000,163.000000,190.000000,185.000000,128.000000,137.000000,161.584963,175.000000,146.000000,...,108.000000,148.000000,173.000000,108.000000,112.000000,157.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1974,1975,177.000000,180.000000,167.000000,266.584963,264.000000,274.000000,151.000000,142.000000,128.000000,...,196.000000,144.000000,293.000000,398.000000,344.000000,199.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1975,1976,64.000000,105.584963,78.000000,107.000000,98.000000,101.000000,90.584963,90.000000,92.000000,...,95.000000,96.000000,101.000000,90.000000,101.000000,102.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1976,1977,112.000000,133.000000,132.000000,158.000000,136.000000,122.000000,156.000000,129.000000,112.000000,...,126.000000,155.000000,121.000000,105.000000,147.584963,111.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1977,1978,180.584963,202.000000,182.000000,273.000000,247.000000,243.584963,137.000000,194.584963,164.000000,...,141.000000,206.584963,272.584963,263.169925,244.584963,189.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1978,1979,65.000000,72.000000,56.000000,71.000000,74.000000,66.000000,64.000000,58.000000,55.000000,...,63.000000,53.000000,83.000000,66.000000,76.000000,66.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1979,1980,50.000000,43.000000,43.000000,38.000000,68.000000,67.000000,42.000000,33.000000,50.000000,...,45.000000,50.000000,50.000000,66.000000,60.000000,46.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1980,1981,111.000000,91.000000,85.000000,104.000000,76.000000,106.000000,107.000000,88.000000,103.000000,...,114.000000,170.000000,109.000000,67.000000,90.000000,122.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1981,1982,47.000000,48.000000,64.000000,64.000000,64.000000,39.000000,81.000000,79.000000,72.000000,...,81.000000,82.000000,79.584963,117.000000,73.000000,111.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1982,1983,85.000000,109.000000,84.000000,86.000000,87.000000,122.169925,78.000000,112.000000,97.000000,...,122.000000,135.000000,147.000000,131.000000,104.000000,107.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1983,1984,69.000000,61.000000,62.000000,52.000000,54.000000,61.000000,53.000000,58.000000,61.000000,...,65.000000,69.000000,67.000000,69.000000,53.000000,76.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1984,1985,390.584963,414.000000,456.584963,571.000000,487.000000,430.000000,430.169925,445.000000,452.584963,...,435.000000,535.000000,727.000000,520.000000,450.000000,410.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1985,1986,97.584963,84.584963,91.000000,87.000000,102.000000,104.584963,63.000000,84.000000,70.000000,...,111.584963,94.000000,86.000000,81.000000,93.000000,102.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1986,1987,45.000000,50.000000,54.000000,63.000000,145.000000,112.000000,37.000000,47.000000,51.000000,...,49.000000,77.000000,42.000000,106.000000,113.000000,33.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1987,1988,161.000000,169.000000,147.000000,173.000000,267.000000,305.000000,195.000000,148.000000,185.000000,...,201.000000,184.584963,213.000000,195.000000,177.000000,231.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1988,1989,43.000000,61.000000,63.000000,119.000000,109.000000,141.754888,69.000000,73.584963,47.584963,...,54.584963,60.000000,112.000000,85.000000,124.491853,56.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1989,1990,79.584963,78.000000,86.000000,96.000000,117.584963,119.000000,57.000000,103.000000,80.000000,...,77.000000,75.000000,98.000000,127.169925,122.000000,67.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1990,1991,130.000000,150.000000,148.000000,126.000000,128.000000,131.584963,143.000000,144.000000,138.000000,...,128.584963,119.000000,119.000000,115.584963,104.000000,128.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1991,1992,59.000000,74.584963,56.000000,62.000000,121.000000,120.000000,49.000000,52.000000,63.000000,...,58.000000,65.000000,58.000000,128.000000,124.000000,67.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1992,1993,44.000000,57.000000,70.000000,80.000000,74.000000,70.584963,58.000000,44.000000,57.000000,...,76.000000,106.000000,74.000000,79.000000,85.000000,34.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1993,1994,150.000000,138.000000,152.000000,128.000000,134.000000,128.000000,158.000000,145.000000,126.000000,...,129.000000,145.000000,191.000000,156.000000,147.000000,138.584963,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1994,1995,61.000000,69.000000,60.000000,68.000000,55.000000,71.000000,58.000000,63.000000,48.000000,...,55.000000,72.000000,63.000000,79.000000,83.000000,64.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1995,1996,84.000000,81.000000,89.000000,83.000000,77.000000,75.000000,76.000000,68.000000,57.000000,...,101.000000,99.584963,104.000000,101.000000,96.000000,92.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1996,1997,313.000000,286.000000,285.000000,282.584963,97.000000,119.584963,340.584963,316.584963,306.000000,...,293.000000,285.000000,219.000000,120.000000,109.584963,298.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1997,1998,460.000000,459.584963,471.000000,438.584963,236.000000,309.000000,513.000000,518.000000,536.000000,...,559.000000,638.000000,610.000000,425.189475,328.000000,620.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1998,1999,271.000000,310.000000,309.584963,354.584963,499.000000,538.000000,309.000000,285.000000,278.000000,...,294.000000,298.000000,316.000000,147.000000,452.000000,331.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14
1999,2000,162.584963,159.000000,177.000000,147.584963,78.000000,60.000000,163.000000,157.000000,164.000000,...,184.000000,132.000000,133.000000,67.000000,67.000000,168.000000,2016-10-11,2016-10-31,2016-11-01,2016-11-14

In [59]:
TEST.to_csv('TEST_SELLS.csv',index = False)