In [1]:
import pandas as pd
import numpy as np
import datetime
import copy

from IJCAI2017_TOOL import *

In [2]:
#节假日信息
HOLI = pd.read_csv('./Flamingo_Rank4_code/additional/HOLI.csv')
HOLI = HOLI.set_index(['DATE'],drop = True)
HOLI_TAB = HOLI.transpose() #转置
HOLI_TAB.columns = [str((datetime.datetime.strptime('20150626','%Y%m%d') + datetime.timedelta(days=x)).date()) for x in range( HOLI_TAB.shape[1])]

In [4]:
HOLI_TAB

,2015-06-26,2015-06-27,2015-06-28,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,...,2016-11-07,2016-11-08,2016-11-09,2016-11-10,2016-11-11,2016-11-12,2016-11-13,2016-11-14,2016-11-15,2016-11-16
HOLI,0,1,1,0,0,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0

In [6]:
PAYNW = pd.read_csv('./user_pay_new.csv')
VIENW = pd.read_csv('./user_view_new.csv')

In [11]:
PAYNW_SHOP_DATE = PAYNW.groupby(['SHOP_ID','DATE'],as_index = False).sum()
PAYNW_SHOP_DATE = PAYNW_SHOP_DATE[['SHOP_ID','DATE','Num_post']]
PAYNW_SHOP_DATE.head()

#PAYNW_SHOP_DATE.reset_index(level=0)?????

   SHOP_ID        DATE    Num_post
0        1  2015-10-10  188.000000
1        1  2015-10-11  272.000000
2        1  2015-10-12  257.000000
3        1  2015-10-13  239.000000
4        1  2015-10-14  276.584963

In [12]:
PAYNW_TAB = pd.pivot_table(PAYNW_SHOP_DATE, values=['Num_post'], index=['SHOP_ID'],columns=['DATE'], aggfunc=np.sum)   
PAYNW_TAB = pd.concat( [PAYNW_TAB[PAYNW_TAB.columns[0:169:1]], pd.DataFrame({'A':[np.nan],},index=np.arange(1,2001)),PAYNW_TAB[PAYNW_TAB.columns[169::1]] ], axis = 1)
PAYNW_TAB.columns = [str((datetime.datetime.strptime('20150626','%Y%m%d') + datetime.timedelta(days=x)).date()) for x in range( PAYNW_TAB.shape[1])] 
PAYNW_TAB['2015-12-12'] = PAYNW_TAB['2015-12-13']

PAYNW_TAB_T = PAYNW_TAB.transpose()
PAYNW_TAB_T

SHOP_ID,1,2,3,4,5,6,7,8,9,10,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
2015-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-28,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-02,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-03,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-09,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-10,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-11,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-12,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-13,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-14,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-15,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-16,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-17,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-18,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-19,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-20,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-21,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-22,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-23,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-24,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-25,NaN,NaN,NaN,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-02,212.000000,104.000000,110.0,126.0,50.000000,60.000000,256.169925,73.000000,236.000000,50.000000,...,119.000000,82.000000,40.000000,133.000000,62.000000,67.000000,67.000000,120.000000,378.000000,39.000000
2016-10-03,280.000000,88.000000,102.0,95.0,67.000000,62.000000,186.000000,67.000000,221.169925,35.000000,...,88.000000,76.000000,44.000000,152.000000,77.000000,59.000000,58.000000,65.000000,341.000000,50.000000
2016-10-04,276.584963,119.584963,90.0,97.0,42.000000,73.000000,172.584963,75.000000,187.000000,43.000000,...,102.000000,69.000000,50.584963,146.000000,67.000000,58.000000,61.000000,NaN,339.000000,29.000000
2016-10-05,258.000000,125.000000,121.0,119.0,2.000000,68.584963,150.000000,76.000000,203.000000,45.000000,...,112.000000,96.000000,48.000000,163.000000,74.000000,53.000000,60.000000,NaN,307.000000,35.000000
2016-10-06,232.000000,107.584963,93.0,132.0,32.000000,30.000000,160.000000,76.000000,228.000000,62.000000,...,87.000000,71.000000,51.000000,125.000000,60.000000,70.000000,83.000000,NaN,363.584963,76.000000
2016-10-07,259.000000,94.584963,90.0,139.0,180.000000,79.000000,113.000000,59.584963,263.000000,93.000000,...,142.584963,68.584963,65.000000,135.000000,75.584963,68.000000,74.000000,66.000000,397.000000,67.584963
2016-10-08,247.000000,34.000000,70.0,112.0,298.000000,93.000000,95.169925,82.000000,227.000000,100.000000,...,122.000000,70.000000,62.000000,131.000000,54.000000,68.000000,220.000000,349.000000,331.000000,158.000000
2016-10-09,256.000000,NaN,77.0,88.0,276.000000,84.584963,156.584963,60.000000,233.000000,67.000000,...,130.000000,52.000000,35.000000,137.000000,51.584963,68.000000,285.000000,390.000000,305.000000,176.000000
2016-10-10,239.000000,NaN,68.0,78.0,312.000000,64.000000,117.000000,72.000000,234.000000,71.000000,...,135.000000,65.000000,NaN,127.584963,64.000000,77.000000,299.000000,455.000000,338.000000,161.000000
2016-10-11,254.000000,NaN,68.0,86.0,223.000000,83.000000,133.906891,80.169925,225.000000,108.000000,...,130.000000,59.000000,NaN,150.000000,61.000000,84.000000,313.000000,460.000000,271.000000,162.584963
2016-10-12,239.000000,NaN,63.0,113.0,218.000000,91.000000,93.000000,63.000000,201.584963,111.000000,...,150.000000,74.584963,NaN,138.000000,69.000000,81.000000,286.000000,459.584963,310.000000,159.000000
2016-10-13,228.000000,NaN,56.0,71.0,230.000000,90.000000,128.000000,65.000000,192.000000,73.000000,...,148.000000,56.000000,NaN,152.000000,60.000000,89.000000,285.000000,471.000000,309.584963,177.000000
2016-10-14,243.584963,NaN,71.0,121.0,195.000000,121.000000,139.584963,49.000000,197.000000,89.000000,...,126.000000,62.000000,80.000000,128.000000,68.000000,83.000000,282.584963,438.584963,354.584963,147.584963
2016-10-15,264.000000,NaN,119.0,165.0,185.000000,112.000000,182.584963,100.584963,251.000000,76.000000,...,128.000000,121.000000,74.000000,134.000000,55.000000,77.000000,97.000000,236.000000,499.000000,78.000000
2016-10-16,264.000000,NaN,97.0,200.0,211.000000,137.000000,207.584963,101.000000,282.000000,102.584963,...,131.584963,120.000000,70.584963,128.000000,71.000000,75.000000,119.584963,309.000000,538.000000,60.000000
2016-10-17,206.584963,NaN,75.0,89.0,274.000000,83.000000,135.000000,66.000000,254.000000,96.000000,...,143.000000,49.000000,58.000000,158.000000,58.000000,76.000000,340.584963,513.000000,309.000000,163.000000
2016-10-18,244.000000,NaN,59.0,90.0,201.000000,104.000000,100.584963,49.000000,180.000000,90.000000,...,144.000000,52.000000,44.000000,145.000000,63.000000,68.000000,316.584963,518.000000,285.000000,157.000000
2016-10-19,177.000000,NaN,71.0,112.0,210.000000,104.000000,94.000000,55.000000,213.000000,139.000000,...,138.000000,63.000000,57.000000,126.000000,48.000000,57.000000,306.000000,536.000000,278.000000,164.000000
2016-10-20,207.000000,NaN,88.0,59.0,221.000000,90.000000,113.000000,73.000000,226.000000,93.000000,...,133.000000,66.000000,79.000000,114.000000,59.000000,71.000000,272.000000,595.000000,280.584963,165.000000
2016-10-21,230.000000,61.000000,103.0,80.0,187.000000,107.000000,131.584963,46.000000,208.000000,84.000000,...,108.000000,59.000000,55.000000,150.000000,69.000000,69.584963,220.584963,515.000000,341.000000,137.584963
2016-10-22,202.000000,155.000000,127.0,211.0,161.000000,88.000000,152.000000,68.000000,220.000000,92.000000,...,86.000000,138.000000,88.000000,154.000000,64.000000,85.000000,87.000000,314.584963,445.000000,66.000000
2016-10-23,243.000000,143.000000,125.0,221.0,240.000000,76.000000,200.000000,89.000000,310.000000,115.000000,...,136.000000,94.000000,90.000000,160.584963,85.000000,80.000000,117.584963,328.000000,438.000000,59.000000
2016-10-24,215.584963,78.000000,47.0,81.0,453.584963,104.000000,124.000000,67.584963,246.000000,60.000000,...,136.000000,78.584963,62.000000,157.000000,60.000000,87.000000,289.000000,563.000000,300.000000,161.584963
2016-10-25,255.000000,82.000000,80.0,90.0,302.000000,97.000000,128.000000,70.000000,210.000000,77.000000,...,150.000000,68.000000,57.000000,162.000000,52.000000,91.000000,276.000000,575.000000,309.000000,180.584963
2016-10-26,172.000000,97.000000,61.0,104.0,1.000000,100.000000,115.000000,68.000000,197.000000,114.000000,...,128.584963,58.000000,76.000000,129.000000,55.000000,101.000000,293.000000,559.000000,294.000000,184.000000
2016-10-27,226.000000,83.000000,68.0,55.0,NaN,117.000000,111.000000,72.000000,245.000000,85.000000,...,119.000000,65.000000,106.000000,145.000000,72.000000,99.584963,285.000000,638.000000,298.000000,132.000000
2016-10-28,257.000000,96.000000,103.0,109.0,215.000000,133.000000,128.000000,49.000000,205.000000,84.000000,...,119.000000,58.000000,74.000000,191.000000,63.000000,104.000000,219.000000,610.000000,316.000000,133.000000
2016-10-29,251.000000,96.000000,102.0,215.0,203.000000,109.000000,165.000000,70.000000,290.584963,99.000000,...,115.584963,128.000000,79.000000,156.000000,79.000000,101.000000,120.000000,425.189475,147.000000,67.000000
2016-10-30,280.584963,115.000000,104.0,195.0,291.000000,118.000000,162.000000,71.000000,283.000000,93.000000,...,104.000000,124.000000,85.000000,147.000000,83.000000,96.000000,109.584963,328.000000,452.000000,67.000000
2016-10-31,180.000000,80.000000,67.0,115.0,239.000000,85.000000,81.000000,35.000000,212.000000,121.000000,...,128.000000,67.584963,34.000000,138.584963,64.000000,92.000000,298.000000,620.000000,331.000000,168.000000

In [13]:
#商铺有关的信息
SHOP_INFO = pd.read_csv("SHOP_FEATURES.csv",low_memory=False)
SHOP_SC = ['SC00']
SHOP_SD = map(lambda x:'SD'+ str(x).zfill(2), np.arange(5)) 
SHOP_SE = map(lambda x:'SE'+ str(x).zfill(2), np.arange(1))
SHOP_SF = map(lambda x:'SF'+ str(x).zfill(2), np.arange(1))
SHOP_SG = map(lambda x:'SG'+ str(x).zfill(2), np.arange(4))
SHOP_SH = map(lambda x:'SH'+ str(x).zfill(2), np.arange(2))
SHOP_SI =  [(lambda x:('SI'+ str(x).zfill(2))) (x)  for x in range(10)]
SHOP_SJ = map(lambda x:'SJ'+ str(x).zfill(2), np.arange(15)) 
SHOP_columns = SHOP_SC + SHOP_SD + SHOP_SE + SHOP_SF + SHOP_SG +  SHOP_SH + SHOP_SI + SHOP_SJ

In [15]:
#变量定义
TRN_N = 21
TST_N = 14   
TST_PAD_N = 14 + 4  

end_date = datetime.datetime.strptime('2016-10-31','%Y-%m-%d')
day_N = 494
date_list = [str((end_date- datetime.timedelta(days=x)).date()) for x in range(day_N)]
date_list.reverse()

In [17]:
#训练集测试集划分
TRAIN = pd.DataFrame()
train_date_zip = zip(date_list[0:day_N-(TRN_N+TST_N)+1],date_list[TRN_N-1:day_N-TST_N+1],date_list[TRN_N:day_N-TST_N+2],  date_list[TRN_N+TST_N-1:day_N])
train_date_zip_df = pd.DataFrame(train_date_zip)
train_date_zip_df.columns = ['TRN_STA','TRN_END','TST_STA','TST_END']

In [18]:
train_date_zip_df

        TRN_STA     TRN_END     TST_STA     TST_END
0    2015-06-26  2015-07-16  2015-07-17  2015-07-30
1    2015-06-27  2015-07-17  2015-07-18  2015-07-31
2    2015-06-28  2015-07-18  2015-07-19  2015-08-01
3    2015-06-29  2015-07-19  2015-07-20  2015-08-02
4    2015-06-30  2015-07-20  2015-07-21  2015-08-03
5    2015-07-01  2015-07-21  2015-07-22  2015-08-04
6    2015-07-02  2015-07-22  2015-07-23  2015-08-05
7    2015-07-03  2015-07-23  2015-07-24  2015-08-06
8    2015-07-04  2015-07-24  2015-07-25  2015-08-07
9    2015-07-05  2015-07-25  2015-07-26  2015-08-08
10   2015-07-06  2015-07-26  2015-07-27  2015-08-09
11   2015-07-07  2015-07-27  2015-07-28  2015-08-10
12   2015-07-08  2015-07-28  2015-07-29  2015-08-11
13   2015-07-09  2015-07-29  2015-07-30  2015-08-12
14   2015-07-10  2015-07-30  2015-07-31  2015-08-13
15   2015-07-11  2015-07-31  2015-08-01  2015-08-14
16   2015-07-12  2015-08-01  2015-08-02  2015-08-15
17   2015-07-13  2015-08-02  2015-08-03  2015-08-16
18   2015-07-14  2015-08-03  2015-08-04  2015-08-17
19   2015-07-15  2015-08-04  2015-08-05  2015-08-18
20   2015-07-16  2015-08-05  2015-08-06  2015-08-19
21   2015-07-17  2015-08-06  2015-08-07  2015-08-20
22   2015-07-18  2015-08-07  2015-08-08  2015-08-21
23   2015-07-19  2015-08-08  2015-08-09  2015-08-22
24   2015-07-20  2015-08-09  2015-08-10  2015-08-23
25   2015-07-21  2015-08-10  2015-08-11  2015-08-24
26   2015-07-22  2015-08-11  2015-08-12  2015-08-25
27   2015-07-23  2015-08-12  2015-08-13  2015-08-26
28   2015-07-24  2015-08-13  2015-08-14  2015-08-27
29   2015-07-25  2015-08-14  2015-08-15  2015-08-28
..          ...         ...         ...         ...
430  2016-08-29  2016-09-18  2016-09-19  2016-10-02
431  2016-08-30  2016-09-19  2016-09-20  2016-10-03
432  2016-08-31  2016-09-20  2016-09-21  2016-10-04
433  2016-09-01  2016-09-21  2016-09-22  2016-10-05
434  2016-09-02  2016-09-22  2016-09-23  2016-10-06
435  2016-09-03  2016-09-23  2016-09-24  2016-10-07
436  2016-09-04  2016-09-24  2016-09-25  2016-10-08
437  2016-09-05  2016-09-25  2016-09-26  2016-10-09
438  2016-09-06  2016-09-26  2016-09-27  2016-10-10
439  2016-09-07  2016-09-27  2016-09-28  2016-10-11
440  2016-09-08  2016-09-28  2016-09-29  2016-10-12
441  2016-09-09  2016-09-29  2016-09-30  2016-10-13
442  2016-09-10  2016-09-30  2016-10-01  2016-10-14
443  2016-09-11  2016-10-01  2016-10-02  2016-10-15
444  2016-09-12  2016-10-02  2016-10-03  2016-10-16
445  2016-09-13  2016-10-03  2016-10-04  2016-10-17
446  2016-09-14  2016-10-04  2016-10-05  2016-10-18
447  2016-09-15  2016-10-05  2016-10-06  2016-10-19
448  2016-09-16  2016-10-06  2016-10-07  2016-10-20
449  2016-09-17  2016-10-07  2016-10-08  2016-10-21
450  2016-09-18  2016-10-08  2016-10-09  2016-10-22
451  2016-09-19  2016-10-09  2016-10-10  2016-10-23
452  2016-09-20  2016-10-10  2016-10-11  2016-10-24
453  2016-09-21  2016-10-11  2016-10-12  2016-10-25
454  2016-09-22  2016-10-12  2016-10-13  2016-10-26
455  2016-09-23  2016-10-13  2016-10-14  2016-10-27
456  2016-09-24  2016-10-14  2016-10-15  2016-10-28
457  2016-09-25  2016-10-15  2016-10-16  2016-10-29
458  2016-09-26  2016-10-16  2016-10-17  2016-10-30
459  2016-09-27  2016-10-17  2016-10-18  2016-10-31

[460 rows x 4 columns]

In [20]:
for TRN_STA,TRN_END,TST_STA,TST_END in train_date_zip:
    TRAIN_temp = PAYNW_TAB.loc[:,TRN_STA:TST_END] 
    TRAIN_temp.columns = np.arange(TRAIN_temp.shape[1])
    TRAIN_temp.reset_index(inplace=True)
    TRAIN_temp.loc[:,'TRN_STA']  = str(TRN_STA) 
    TRAIN_temp.loc[:,'TRN_END'] = str(TRN_END)    
    TRAIN_temp.loc[:,'TST_STA']  = str(TST_STA)
    TRAIN_temp.loc[:,'TST_END'] = str(TST_END)    
    TRAIN = pd.concat( [TRAIN,TRAIN_temp],)

/home/zlq/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/zlq/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
TRAIN

,SHOP_ID,0,1,2,3,4,5,6,7,8,...,29,30,31,32,33,34,TRN_STA,TRN_END,TST_STA,TST_END
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
6,7,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,2.000000,NaN,...,33.000000,38.000000,22.000000,18.000000,25.000000,35.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
15,16,NaN,NaN,NaN,NaN,NaN,NaN,43.000000,47.000000,47.000000,...,75.000000,95.000000,74.000000,91.000000,73.000000,57.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.000000,13.000000,15.000000,18.000000,17.000000,10.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,21.000000,21.000000,12.000000,26.000000,27.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.000000,23.000000,30.000000,17.000000,29.000000,33.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-26,2015-07-16,2015-07-17,2015-07-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,271.000000,197.000000,142.000000,271.584963,162.000000,145.000000,128.000000,102.584963,170.000000,...,166.000000,243.000000,249.000000,199.000000,167.000000,229.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1971,1972,43.000000,59.000000,51.000000,74.000000,113.000000,91.000000,84.584963,73.584963,90.000000,...,51.000000,74.000000,84.000000,116.169925,116.584963,72.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1972,1973,82.000000,79.000000,66.000000,48.000000,52.000000,48.000000,39.000000,30.000000,36.000000,...,42.000000,44.000000,37.000000,31.000000,26.000000,3.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1973,1974,167.000000,108.000000,84.000000,159.000000,50.000000,74.000000,62.000000,71.000000,71.000000,...,108.000000,148.000000,173.000000,108.000000,112.000000,157.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1974,1975,156.000000,194.000000,183.584963,552.604513,376.000000,333.169925,304.000000,287.000000,254.000000,...,196.000000,144.000000,293.000000,398.000000,344.000000,199.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1975,1976,101.000000,87.000000,106.000000,116.000000,124.584963,106.000000,118.000000,94.000000,111.584963,...,95.000000,96.000000,101.000000,90.000000,101.000000,102.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1976,1977,145.000000,86.000000,94.000000,135.000000,114.000000,108.000000,112.000000,105.000000,101.000000,...,126.000000,155.000000,121.000000,105.000000,147.584963,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1977,1978,120.000000,136.584963,188.169925,256.584963,157.584963,146.169925,163.000000,145.000000,149.584963,...,141.000000,206.584963,272.584963,263.169925,244.584963,189.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1978,1979,52.000000,52.000000,84.000000,71.000000,51.000000,63.000000,64.000000,74.000000,67.000000,...,63.000000,53.000000,83.000000,66.000000,76.000000,66.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1979,1980,44.000000,53.000000,44.000000,61.000000,77.000000,61.000000,83.000000,83.000000,71.000000,...,45.000000,50.000000,50.000000,66.000000,60.000000,46.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1980,1981,163.000000,110.000000,99.000000,90.000000,47.000000,27.000000,40.000000,28.000000,42.000000,...,114.000000,170.000000,109.000000,67.000000,90.000000,122.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1981,1982,82.000000,93.000000,99.000000,89.000000,73.000000,70.000000,62.000000,67.000000,78.000000,...,81.000000,82.000000,79.584963,117.000000,73.000000,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1982,1983,75.000000,105.000000,91.000000,117.000000,51.000000,NaN,NaN,NaN,NaN,...,122.000000,135.000000,147.000000,131.000000,104.000000,107.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1983,1984,68.000000,70.000000,63.584963,61.000000,46.000000,49.000000,32.000000,40.000000,38.000000,...,65.000000,69.000000,67.000000,69.000000,53.000000,76.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1984,1985,459.000000,501.000000,748.000000,1295.000000,1167.000000,828.169925,629.000000,505.169925,600.584963,...,435.000000,535.000000,727.000000,520.000000,450.000000,410.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1985,1986,96.000000,78.000000,92.000000,99.000000,97.584963,98.000000,73.000000,80.000000,88.000000,...,111.584963,94.000000,86.000000,81.000000,93.000000,102.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1986,1987,38.000000,29.000000,63.000000,76.000000,73.000000,69.000000,72.000000,46.000000,66.000000,...,49.000000,77.000000,42.000000,106.000000,113.000000,33.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1987,1988,173.000000,170.000000,171.000000,205.000000,251.000000,248.000000,243.000000,226.000000,223.000000,...,201.000000,184.584963,213.000000,195.000000,177.000000,231.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1988,1989,67.000000,75.584963,97.000000,131.000000,148.000000,195.584963,208.169925,227.584963,237.169925,...,54.584963,60.000000,112.000000,85.000000,124.491853,56.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1989,1990,67.000000,102.000000,95.000000,136.000000,89.000000,73.000000,77.000000,90.000000,80.000000,...,77.000000,75.000000,98.000000,127.169925,122.000000,67.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1990,1991,173.000000,164.000000,116.584963,171.000000,145.000000,119.000000,88.000000,102.000000,112.000000,...,128.584963,119.000000,119.000000,115.584963,104.000000,128.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1991,1992,52.000000,55.584963,63.584963,98.169925,106.754888,82.000000,76.000000,69.000000,96.000000,...,58.000000,65.000000,58.000000,128.000000,124.000000,67.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1992,1993,99.000000,42.000000,44.000000,117.000000,63.000000,40.000000,44.000000,50.584963,48.000000,...,76.000000,106.000000,74.000000,79.000000,85.000000,34.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1993,1994,172.000000,135.000000,158.000000,240.000000,125.000000,133.000000,152.000000,146.000000,163.000000,...,129.000000,145.000000,191.000000,156.000000,147.000000,138.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1994,1995,48.000000,84.000000,60.000000,69.584963,71.000000,62.000000,77.000000,67.000000,74.000000,...,55.000000,72.000000,63.000000,79.000000,83.000000,64.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1995,1996,85.584963,83.000000,84.000000,90.000000,53.000000,67.000000,59.000000,58.000000,53.000000,...,101.000000,99.584963,104.000000,101.000000,96.000000,92.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1996,1997,268.000000,244.000000,221.000000,257.000000,71.000000,67.000000,58.000000,61.000000,60.000000,...,293.000000,285.000000,219.000000,120.000000,109.584963,298.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1997,1998,433.000000,482.000000,528.584963,399.000000,180.000000,120.000000,65.000000,NaN,NaN,...,559.000000,638.000000,610.000000,425.189475,328.000000,620.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1998,1999,272.000000,303.000000,338.584963,367.000000,424.000000,378.000000,341.000000,339.000000,307.000000,...,294.000000,298.000000,316.000000,147.000000,452.000000,331.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
1999,2000,173.000000,132.000000,103.000000,145.000000,33.000000,39.000000,50.000000,29.000000,35.000000,...,184.000000,132.000000,133.000000,67.000000,67.000000,168.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31

In [22]:
TRAIN = TRAIN.reset_index(np.arange(len(TRAIN)),drop = True)

TRAIN_TRN_C =  map(lambda x:'SA'+ str(x).zfill(2), np.arange(TRN_N))
TRAIN_TST_C =  map(lambda x:'SB'+ str(x).zfill(2), np.arange(TST_N))

TRAIN.columns = ['SHOP_ID']  + TRAIN_TRN_C + TRAIN_TST_C  + ['TRN_STA','TRN_END','TST_STA','TST_END']

In [25]:
TRAIN.columns

Index([u'SHOP_ID', u'SA00', u'SA01', u'SA02', u'SA03', u'SA04', u'SA05',
       u'SA06', u'SA07', u'SA08', u'SA09', u'SA10', u'SA11', u'SA12', u'SA13',
       u'SA14', u'SA15', u'SA16', u'SA17', u'SA18', u'SA19', u'SA20', u'SB00',
       u'SB01', u'SB02', u'SB03', u'SB04', u'SB05', u'SB06', u'SB07', u'SB08',
       u'SB09', u'SB10', u'SB11', u'SB12', u'SB13', u'TRN_STA', u'TRN_END',
       u'TST_STA', u'TST_END'],
      dtype='object')

In [26]:
TEST = pd.read_csv('TEST_SELLS.csv')

In [27]:
result_fix = pd.read_csv('./Flamingo_Rank4_code/data_new/basemodel_last6weeks_aver_m105.csv',header=None,names =['SHOP_ID'] + range(14))

In [28]:
result_fix

,SHOP_ID,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,256,208,231,255,260,270,217,256,208,231,255,260,270,217
1,2,83,94,81,80,121,133,79,83,94,81,80,121,133,79
2,3,71,67,70,93,121,107,73,71,67,70,93,121,107,73
3,4,89,113,75,107,208,214,99,89,113,75,107,208,214,99
4,5,263,184,266,204,191,196,334,263,184,266,204,191,196,334
5,6,95,95,97,114,99,110,93,95,95,97,114,99,110,93
6,7,123,110,120,142,175,197,118,123,110,120,142,175,197,118
7,8,69,66,70,56,81,88,59,69,66,70,56,81,88,59
8,9,224,217,234,224,276,315,243,224,217,234,224,276,315,243
9,10,91,123,84,87,89,105,94,91,123,84,87,89,105,94
10,11,101,99,90,98,66,67,95,101,99,90,98,66,67,95
11,12,49,59,62,73,93,92,61,49,59,62,73,93,92,61
12,13,256,258,242,259,241,251,253,256,258,242,259,241,251,253
13,14,64,61,51,57,72,60,70,64,61,51,57,72,60,70
14,15,132,130,133,142,190,205,133,132,130,133,142,190,205,133
15,16,47,48,40,63,55,50,42,47,48,40,63,55,50,42
16,17,90,87,87,102,129,119,88,90,87,87,102,129,119,88
17,18,75,65,89,94,127,112,86,75,65,89,94,127,112,86
18,19,158,137,161,149,197,245,159,158,137,161,149,197,245,159
19,20,167,150,158,162,143,132,166,167,150,158,162,143,132,166
20,21,76,79,75,90,136,128,80,76,79,75,90,136,128,80
21,22,98,109,99,124,123,114,104,98,109,99,124,123,114,104
22,23,53,50,46,66,41,30,49,53,50,46,66,41,30,49
23,24,65,64,65,84,137,140,55,65,64,65,84,137,140,55
24,25,116,117,115,142,153,136,115,116,117,115,142,153,136,115
25,26,66,74,70,63,142,151,59,66,74,70,63,142,151,59
26,27,85,98,90,93,89,85,88,85,98,90,93,89,85,88
27,28,68,59,61,84,93,101,61,68,59,61,84,93,101,61
28,29,85,91,96,123,200,195,103,85,91,96,123,200,195,103
29,30,31,44,43,50,53,57,45,31,44,43,50,53,57,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,255,230,250,256,182,178,250,255,230,250,256,182,178,250
1971,1972,68,68,83,93,135,130,60,68,68,83,93,135,130,60
1972,1973,61,64,50,58,47,35,50,61,64,50,58,47,35,50
1973,1974,179,149,158,176,117,132,176,179,149,158,176,117,132,176
1974,1975,167,172,168,268,308,316,168,167,172,168,268,308,316,168
1975,1976,89,99,85,104,106,111,100,89,99,85,104,106,111,100
1976,1977,135,141,148,145,132,141,148,135,141,148,145,132,141,148
1977,1978,181,162,169,236,221,235,166,181,162,169,236,221,235,166
1978,1979,64,67,64,82,78,77,67,64,67,64,82,78,77,67
1979,1980,50,50,46,47,74,65,45,50,50,46,47,74,65,45
1980,1981,103,99,114,103,86,97,127,103,99,114,103,86,97,127
1981,1982,77,70,75,74,76,54,95,77,70,75,74,76,54,95
1982,1983,102,100,102,107,103,105,88,102,100,102,107,103,105,88
1983,1984,69,63,63,61,61,60,70,69,63,63,61,61,60,70
1984,1985,427,451,466,676,511,488,428,427,451,466,676,511,488,428
1985,1986,97,93,98,99,108,111,94,97,93,98,99,108,111,94
1986,1987,48,53,64,63,119,117,44,48,53,64,63,119,117,44
1987,1988,176,197,175,208,260,284,206,176,197,175,208,260,284,206
1988,1989,62,57,62,108,87,124,61,62,57,62,108,87,124,61
1989,1990,92,80,82,111,132,121,75,92,80,82,111,132,121,75
1990,1991,149,141,141,129,122,137,148,149,141,141,129,122,137,148
1991,1992,57,67,61,60,130,113,62,57,67,61,60,130,113,62
1992,1993,57,70,91,79,88,82,62,57,70,91,79,88,82,62
1993,1994,158,134,140,177,160,156,163,158,134,140,177,160,156,163
1994,1995,57,58,68,67,69,81,64,57,58,68,67,69,81,64
1995,1996,86,86,85,88,92,88,94,86,86,85,88,92,88,94
1996,1997,306,304,293,253,108,120,316,306,304,293,253,108,120,316
1997,1998,512,516,565,514,315,316,557,512,516,565,514,315,316,557
1998,1999,298,309,301,349,412,484,324,298,309,301,349,412,484,324
1999,2000,172,172,169,146,67,66,170,172,172,169,146,67,66,170

In [29]:
result_fmed = pd.DataFrame()
result_fmed['SHOP_ID'] = result_fix['SHOP_ID']
result_fmed['VALUE'] = result_fix.loc[:,np.arange(0,14)].median(axis = 1) 
result_fmed.to_csv('FIXER.csv',index = False)

In [30]:
result_fmed

      SHOP_ID  VALUE
0           1  255.0
1           2   83.0
2           3   73.0
3           4  107.0
4           5  204.0
5           6   97.0
6           7  123.0
7           8   69.0
8           9  234.0
9          10   91.0
10         11   95.0
11         12   62.0
12         13  253.0
13         14   61.0
14         15  133.0
15         16   48.0
16         17   90.0
17         18   89.0
18         19  159.0
19         20  158.0
20         21   80.0
21         22  109.0
22         23   49.0
23         24   65.0
24         25  117.0
25         26   70.0
26         27   89.0
27         28   68.0
28         29  103.0
29         30   45.0
...       ...    ...
1970     1971  250.0
1971     1972   83.0
1972     1973   50.0
1973     1974  158.0
1974     1975  172.0
1975     1976  100.0
1976     1977  141.0
1977     1978  181.0
1978     1979   67.0
1979     1980   50.0
1980     1981  103.0
1981     1982   75.0
1982     1983  102.0
1983     1984   63.0
1984     1985  466.0
1985     1986   98.0
1986     1987   63.0
1987     1988  206.0
1988     1989   62.0
1989     1990   92.0
1990     1991  141.0
1991     1992   62.0
1992     1993   79.0
1993     1994  158.0
1994     1995   67.0
1995     1996   88.0
1996     1997  293.0
1997     1998  514.0
1998     1999  324.0
1999     2000  169.0

[2000 rows x 2 columns]

In [31]:
TRAIN_OK = TRAIN[TRAIN.loc[:,TRAIN_TST_C].isnull().sum(axis = 1)==0]#选出TRAIN的TRAIN_TST_C列中没有空值的行
TRAIN_OK

,SHOP_ID,SA00,SA01,SA02,SA03,SA04,SA05,SA06,SA07,SA08,...,SB08,SB09,SB10,SB11,SB12,SB13,TRN_STA,TRN_END,TST_STA,TST_END
6,7,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,2.000000,NaN,...,33.000000,38.000000,22.000000,18.000000,25.000000,35.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
15,16,NaN,NaN,NaN,NaN,NaN,NaN,43.000000,47.000000,47.000000,...,75.000000,95.000000,74.000000,91.000000,73.000000,57.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.000000,13.000000,15.000000,18.000000,17.000000,10.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,21.000000,21.000000,12.000000,26.000000,27.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.000000,23.000000,30.000000,17.000000,29.000000,33.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
55,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.000000,43.000000,22.000000,16.000000,18.000000,27.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
61,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.000000,54.000000,48.000000,49.000000,59.584963,35.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
81,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.000000,1.000000,2.000000,3.000000,3.000000,3.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
82,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.000000,8.000000,4.000000,8.000000,9.000000,8.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
84,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.000000,53.000000,38.000000,31.000000,36.000000,18.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
87,88,NaN,NaN,NaN,20.000000,33.000000,25.000000,41.584963,46.000000,35.000000,...,74.000000,92.000000,53.000000,51.000000,46.000000,51.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
89,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,10.000000,20.000000,21.000000,23.000000,25.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
100,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.000000,7.000000,2.000000,5.000000,5.000000,5.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
103,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,32.000000,39.584963,33.000000,14.000000,41.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
104,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.000000,76.000000,39.584963,57.000000,52.000000,37.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
138,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.000000,7.000000,5.000000,8.000000,8.000000,8.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
144,145,1.000000,2.000000,NaN,4.000000,2.000000,2.000000,1.000000,2.000000,4.000000,...,81.000000,75.000000,38.000000,57.000000,56.000000,50.584963,2015-06-26,2015-07-16,2015-07-17,2015-07-30
156,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.000000,36.000000,14.000000,24.000000,17.000000,22.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
157,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,10.000000,7.000000,5.000000,7.000000,4.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
158,159,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,...,64.000000,79.000000,72.000000,53.000000,56.000000,49.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
176,177,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,4.000000,9.000000,...,60.584963,58.000000,34.000000,19.000000,30.000000,36.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
178,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,3.000000,6.000000,6.584963,6.000000,11.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
180,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.000000,73.584963,37.000000,58.584963,43.000000,23.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
182,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.000000,47.000000,76.000000,76.000000,66.000000,100.584963,2015-06-26,2015-07-16,2015-07-17,2015-07-30
185,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.000000,39.000000,66.000000,47.000000,46.000000,29.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
191,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.169925,61.000000,33.000000,31.000000,32.000000,37.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
192,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.000000,31.000000,20.000000,33.584963,35.000000,35.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
199,200,NaN,NaN,NaN,5.000000,7.000000,8.000000,12.000000,15.000000,14.000000,...,67.584963,60.169925,30.000000,33.000000,25.000000,40.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
209,210,NaN,NaN,NaN,NaN,NaN,NaN,78.000000,154.000000,113.000000,...,124.000000,136.000000,102.000000,74.000000,94.000000,70.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
210,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.000000,79.000000,43.000000,43.000000,35.000000,77.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919970,1971,271.000000,197.000000,142.000000,271.584963,162.000000,145.000000,128.000000,102.584963,170.000000,...,166.000000,243.000000,249.000000,199.000000,167.000000,229.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919971,1972,43.000000,59.000000,51.000000,74.000000,113.000000,91.000000,84.584963,73.584963,90.000000,...,51.000000,74.000000,84.000000,116.169925,116.584963,72.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919972,1973,82.000000,79.000000,66.000000,48.000000,52.000000,48.000000,39.000000,30.000000,36.000000,...,42.000000,44.000000,37.000000,31.000000,26.000000,3.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919973,1974,167.000000,108.000000,84.000000,159.000000,50.000000,74.000000,62.000000,71.000000,71.000000,...,108.000000,148.000000,173.000000,108.000000,112.000000,157.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919974,1975,156.000000,194.000000,183.584963,552.604513,376.000000,333.169925,304.000000,287.000000,254.000000,...,196.000000,144.000000,293.000000,398.000000,344.000000,199.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919975,1976,101.000000,87.000000,106.000000,116.000000,124.584963,106.000000,118.000000,94.000000,111.584963,...,95.000000,96.000000,101.000000,90.000000,101.000000,102.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919976,1977,145.000000,86.000000,94.000000,135.000000,114.000000,108.000000,112.000000,105.000000,101.000000,...,126.000000,155.000000,121.000000,105.000000,147.584963,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919977,1978,120.000000,136.584963,188.169925,256.584963,157.584963,146.169925,163.000000,145.000000,149.584963,...,141.000000,206.584963,272.584963,263.169925,244.584963,189.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919978,1979,52.000000,52.000000,84.000000,71.000000,51.000000,63.000000,64.000000,74.000000,67.000000,...,63.000000,53.000000,83.000000,66.000000,76.000000,66.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919979,1980,44.000000,53.000000,44.000000,61.000000,77.000000,61.000000,83.000000,83.000000,71.000000,...,45.000000,50.000000,50.000000,66.000000,60.000000,46.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919980,1981,163.000000,110.000000,99.000000,90.000000,47.000000,27.000000,40.000000,28.000000,42.000000,...,114.000000,170.000000,109.000000,67.000000,90.000000,122.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919981,1982,82.000000,93.000000,99.000000,89.000000,73.000000,70.000000,62.000000,67.000000,78.000000,...,81.000000,82.000000,79.584963,117.000000,73.000000,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919982,1983,75.000000,105.000000,91.000000,117.000000,51.000000,NaN,NaN,NaN,NaN,...,122.000000,135.000000,147.000000,131.000000,104.000000,107.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919983,1984,68.000000,70.000000,63.584963,61.000000,46.000000,49.000000,32.000000,40.000000,38.000000,...,65.000000,69.000000,67.000000,69.000000,53.000000,76.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919984,1985,459.000000,501.000000,748.000000,1295.000000,1167.000000,828.169925,629.000000,505.169925,600.584963,...,435.000000,535.000000,727.000000,520.000000,450.000000,410.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919985,1986,96.000000,78.000000,92.000000,99.000000,97.584963,98.000000,73.000000,80.000000,88.000000,...,111.584963,94.000000,86.000000,81.000000,93.000000,102.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919986,1987,38.000000,29.000000,63.000000,76.000000,73.000000,69.000000,72.000000,46.000000,66.000000,...,49.000000,77.000000,42.000000,106.000000,113.000000,33.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919987,1988,173.000000,170.000000,171.000000,205.000000,251.000000,248.000000,243.000000,226.000000,223.000000,...,201.000000,184.584963,213.000000,195.000000,177.000000,231.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919988,1989,67.000000,75.584963,97.000000,131.000000,148.000000,195.584963,208.169925,227.584963,237.169925,...,54.584963,60.000000,112.000000,85.000000,124.491853,56.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919989,1990,67.000000,102.000000,95.000000,136.000000,89.000000,73.000000,77.000000,90.000000,80.000000,...,77.000000,75.000000,98.000000,127.169925,122.000000,67.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919990,1991,173.000000,164.000000,116.584963,171.000000,145.000000,119.000000,88.000000,102.000000,112.000000,...,128.584963,119.000000,119.000000,115.584963,104.000000,128.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919991,1992,52.000000,55.584963,63.584963,98.169925,106.754888,82.000000,76.000000,69.000000,96.000000,...,58.000000,65.000000,58.000000,128.000000,124.000000,67.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919992,1993,99.000000,42.000000,44.000000,117.000000,63.000000,40.000000,44.000000,50.584963,48.000000,...,76.000000,106.000000,74.000000,79.000000,85.000000,34.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919993,1994,172.000000,135.000000,158.000000,240.000000,125.000000,133.000000,152.000000,146.000000,163.000000,...,129.000000,145.000000,191.000000,156.000000,147.000000,138.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919994,1995,48.000000,84.000000,60.000000,69.584963,71.000000,62.000000,77.000000,67.000000,74.000000,...,55.000000,72.000000,63.000000,79.000000,83.000000,64.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919995,1996,85.584963,83.000000,84.000000,90.000000,53.000000,67.000000,59.000000,58.000000,53.000000,...,101.000000,99.584963,104.000000,101.000000,96.000000,92.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919996,1997,268.000000,244.000000,221.000000,257.000000,71.000000,67.000000,58.000000,61.000000,60.000000,...,293.000000,285.000000,219.000000,120.000000,109.584963,298.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919997,1998,433.000000,482.000000,528.584963,399.000000,180.000000,120.000000,65.000000,NaN,NaN,...,559.000000,638.000000,610.000000,425.189475,328.000000,620.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919998,1999,272.000000,303.000000,338.584963,367.000000,424.000000,378.000000,341.000000,339.000000,307.000000,...,294.000000,298.000000,316.000000,147.000000,452.000000,331.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919999,2000,173.000000,132.000000,103.000000,145.000000,33.000000,39.000000,50.000000,29.000000,35.000000,...,184.000000,132.000000,133.000000,67.000000,67.000000,168.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31

In [32]:
TRAIN_OK = TRAIN_OK[TRAIN_OK.loc[:,TRAIN_TRN_C].isnull().sum(axis = 1)<=(TRN_N-21)]#选出TRAIN_OK的TRAIN_TRN_C列中空值数为0的行
TRAIN_OK

,SHOP_ID,SA00,SA01,SA02,SA03,SA04,SA05,SA06,SA07,SA08,...,SB08,SB09,SB10,SB11,SB12,SB13,TRN_STA,TRN_END,TST_STA,TST_END
896,897,27.000000,38.000000,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,...,368.584963,333.000000,163.000000,140.000000,163.000000,190.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
1331,1332,35.000000,51.000000,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,...,181.000000,161.584963,127.000000,97.000000,90.000000,94.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30
2896,897,38.000000,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,121.000000,...,333.000000,163.000000,140.000000,163.000000,190.000000,182.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31
3331,1332,51.000000,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,21.000000,...,161.584963,127.000000,97.000000,90.000000,94.000000,139.584963,2015-06-27,2015-07-17,2015-07-18,2015-07-31
3468,1469,4.000000,9.000000,53.000000,68.000000,58.000000,89.000000,97.000000,52.000000,60.000000,...,261.584963,154.000000,128.000000,124.584963,176.169925,141.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31
3749,1750,1.000000,2.000000,3.000000,9.000000,7.000000,5.000000,6.000000,4.000000,10.000000,...,61.000000,54.000000,55.000000,53.000000,67.000000,63.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31
4216,217,2.000000,17.584963,25.000000,36.000000,23.000000,32.000000,31.000000,32.000000,34.000000,...,150.000000,195.584963,176.000000,160.584963,157.169925,167.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01
4379,380,2.000000,5.000000,1.000000,2.000000,9.000000,2.000000,11.000000,10.000000,9.000000,...,71.000000,89.000000,86.000000,46.000000,72.584963,73.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
4385,386,1.000000,8.000000,9.000000,11.000000,13.000000,27.000000,7.000000,9.000000,16.000000,...,47.000000,48.000000,35.000000,28.000000,45.000000,42.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
4849,850,6.584963,38.000000,39.000000,41.000000,44.000000,63.000000,49.000000,53.000000,31.000000,...,378.000000,310.000000,354.000000,299.584963,376.000000,297.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
4896,897,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,121.000000,65.000000,...,163.000000,140.000000,163.000000,190.000000,182.000000,295.169925,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5093,1094,3.000000,7.000000,8.000000,11.000000,9.000000,5.000000,7.000000,9.000000,3.000000,...,52.000000,59.000000,42.000000,59.000000,65.000000,69.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5331,1332,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,21.000000,21.000000,...,127.000000,97.000000,90.000000,94.000000,139.584963,155.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5349,1350,4.584963,45.000000,57.000000,37.000000,32.000000,44.000000,38.000000,22.000000,28.000000,...,380.000000,402.000000,334.584963,320.000000,348.000000,264.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5468,1469,9.000000,53.000000,68.000000,58.000000,89.000000,97.000000,52.000000,60.000000,60.000000,...,154.000000,128.000000,124.584963,176.169925,141.000000,173.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5623,1624,5.169925,17.000000,15.000000,10.000000,8.000000,13.000000,24.000000,12.000000,12.000000,...,269.000000,245.169925,231.000000,196.584963,184.000000,250.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5744,1745,2.000000,23.000000,32.000000,65.000000,61.000000,71.000000,76.000000,70.000000,74.000000,...,286.000000,214.000000,234.000000,268.000000,286.000000,351.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5749,1750,2.000000,3.000000,9.000000,7.000000,5.000000,6.000000,4.000000,10.000000,16.000000,...,54.000000,55.000000,53.000000,67.000000,63.000000,57.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01
5927,1928,1.000000,19.000000,50.000000,85.000000,88.000000,120.000000,83.000000,47.000000,70.000000,...,286.000000,217.000000,180.000000,199.000000,261.000000,237.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01
6087,88,20.000000,33.000000,25.000000,41.584963,46.000000,35.000000,35.000000,28.000000,43.584963,...,51.000000,46.000000,51.000000,55.584963,43.000000,56.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6199,200,5.000000,7.000000,8.000000,12.000000,15.000000,14.000000,8.000000,4.000000,9.000000,...,33.000000,25.000000,40.000000,40.000000,56.000000,53.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6216,217,17.584963,25.000000,36.000000,23.000000,32.000000,31.000000,32.000000,34.000000,30.000000,...,195.584963,176.000000,160.584963,157.169925,167.584963,224.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6314,315,1.000000,4.000000,8.000000,9.000000,5.000000,7.000000,5.000000,4.000000,4.000000,...,48.000000,43.000000,40.000000,40.000000,42.000000,50.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6379,380,5.000000,1.000000,2.000000,9.000000,2.000000,11.000000,10.000000,9.000000,7.000000,...,89.000000,86.000000,46.000000,72.584963,73.000000,112.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6385,386,8.000000,9.000000,11.000000,13.000000,27.000000,7.000000,9.000000,16.000000,6.000000,...,48.000000,35.000000,28.000000,45.000000,42.000000,53.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6403,404,9.000000,5.000000,12.584963,6.000000,13.000000,15.000000,19.000000,7.000000,5.000000,...,79.000000,56.000000,53.000000,71.000000,125.584963,118.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6530,531,4.000000,1.000000,5.000000,8.000000,6.000000,1.000000,3.000000,8.000000,4.000000,...,49.000000,53.000000,54.000000,58.000000,47.000000,45.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6547,548,2.000000,5.000000,8.000000,9.000000,10.000000,10.000000,12.000000,9.000000,3.000000,...,49.000000,56.584963,46.000000,59.000000,68.000000,60.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6667,668,11.000000,7.000000,21.000000,11.000000,3.000000,31.000000,17.000000,12.000000,20.000000,...,81.000000,99.000000,79.000000,93.584963,166.754888,160.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02
6675,676,11.584963,18.584963,16.000000,9.000000,23.000000,21.000000,23.000000,6.000000,14.000000,...,53.000000,48.000000,27.000000,43.000000,71.000000,74.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919966,1967,192.584963,157.000000,162.000000,239.000000,282.392317,318.000000,236.000000,213.000000,252.469133,...,134.321928,153.000000,199.584963,259.000000,249.584963,179.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919967,1968,10.000000,5.000000,9.000000,15.000000,16.000000,17.000000,23.000000,32.000000,20.000000,...,23.000000,13.000000,38.000000,54.000000,41.000000,16.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919969,1970,198.000000,215.000000,245.000000,247.584963,287.584963,180.000000,233.584963,191.000000,216.000000,...,225.000000,209.000000,268.000000,330.000000,321.584963,216.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919970,1971,271.000000,197.000000,142.000000,271.584963,162.000000,145.000000,128.000000,102.584963,170.000000,...,166.000000,243.000000,249.000000,199.000000,167.000000,229.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919971,1972,43.000000,59.000000,51.000000,74.000000,113.000000,91.000000,84.584963,73.584963,90.000000,...,51.000000,74.000000,84.000000,116.169925,116.584963,72.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919972,1973,82.000000,79.000000,66.000000,48.000000,52.000000,48.000000,39.000000,30.000000,36.000000,...,42.000000,44.000000,37.000000,31.000000,26.000000,3.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919973,1974,167.000000,108.000000,84.000000,159.000000,50.000000,74.000000,62.000000,71.000000,71.000000,...,108.000000,148.000000,173.000000,108.000000,112.000000,157.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919974,1975,156.000000,194.000000,183.584963,552.604513,376.000000,333.169925,304.000000,287.000000,254.000000,...,196.000000,144.000000,293.000000,398.000000,344.000000,199.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919975,1976,101.000000,87.000000,106.000000,116.000000,124.584963,106.000000,118.000000,94.000000,111.584963,...,95.000000,96.000000,101.000000,90.000000,101.000000,102.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919976,1977,145.000000,86.000000,94.000000,135.000000,114.000000,108.000000,112.000000,105.000000,101.000000,...,126.000000,155.000000,121.000000,105.000000,147.584963,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919977,1978,120.000000,136.584963,188.169925,256.584963,157.584963,146.169925,163.000000,145.000000,149.584963,...,141.000000,206.584963,272.584963,263.169925,244.584963,189.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919978,1979,52.000000,52.000000,84.000000,71.000000,51.000000,63.000000,64.000000,74.000000,67.000000,...,63.000000,53.000000,83.000000,66.000000,76.000000,66.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919979,1980,44.000000,53.000000,44.000000,61.000000,77.000000,61.000000,83.000000,83.000000,71.000000,...,45.000000,50.000000,50.000000,66.000000,60.000000,46.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919980,1981,163.000000,110.000000,99.000000,90.000000,47.000000,27.000000,40.000000,28.000000,42.000000,...,114.000000,170.000000,109.000000,67.000000,90.000000,122.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919981,1982,82.000000,93.000000,99.000000,89.000000,73.000000,70.000000,62.000000,67.000000,78.000000,...,81.000000,82.000000,79.584963,117.000000,73.000000,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919983,1984,68.000000,70.000000,63.584963,61.000000,46.000000,49.000000,32.000000,40.000000,38.000000,...,65.000000,69.000000,67.000000,69.000000,53.000000,76.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919984,1985,459.000000,501.000000,748.000000,1295.000000,1167.000000,828.169925,629.000000,505.169925,600.584963,...,435.000000,535.000000,727.000000,520.000000,450.000000,410.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919985,1986,96.000000,78.000000,92.000000,99.000000,97.584963,98.000000,73.000000,80.000000,88.000000,...,111.584963,94.000000,86.000000,81.000000,93.000000,102.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919986,1987,38.000000,29.000000,63.000000,76.000000,73.000000,69.000000,72.000000,46.000000,66.000000,...,49.000000,77.000000,42.000000,106.000000,113.000000,33.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919987,1988,173.000000,170.000000,171.000000,205.000000,251.000000,248.000000,243.000000,226.000000,223.000000,...,201.000000,184.584963,213.000000,195.000000,177.000000,231.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919988,1989,67.000000,75.584963,97.000000,131.000000,148.000000,195.584963,208.169925,227.584963,237.169925,...,54.584963,60.000000,112.000000,85.000000,124.491853,56.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919989,1990,67.000000,102.000000,95.000000,136.000000,89.000000,73.000000,77.000000,90.000000,80.000000,...,77.000000,75.000000,98.000000,127.169925,122.000000,67.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919990,1991,173.000000,164.000000,116.584963,171.000000,145.000000,119.000000,88.000000,102.000000,112.000000,...,128.584963,119.000000,119.000000,115.584963,104.000000,128.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919991,1992,52.000000,55.584963,63.584963,98.169925,106.754888,82.000000,76.000000,69.000000,96.000000,...,58.000000,65.000000,58.000000,128.000000,124.000000,67.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919993,1994,172.000000,135.000000,158.000000,240.000000,125.000000,133.000000,152.000000,146.000000,163.000000,...,129.000000,145.000000,191.000000,156.000000,147.000000,138.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919994,1995,48.000000,84.000000,60.000000,69.584963,71.000000,62.000000,77.000000,67.000000,74.000000,...,55.000000,72.000000,63.000000,79.000000,83.000000,64.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919995,1996,85.584963,83.000000,84.000000,90.000000,53.000000,67.000000,59.000000,58.000000,53.000000,...,101.000000,99.584963,104.000000,101.000000,96.000000,92.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919996,1997,268.000000,244.000000,221.000000,257.000000,71.000000,67.000000,58.000000,61.000000,60.000000,...,293.000000,285.000000,219.000000,120.000000,109.584963,298.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919998,1999,272.000000,303.000000,338.584963,367.000000,424.000000,378.000000,341.000000,339.000000,307.000000,...,294.000000,298.000000,316.000000,147.000000,452.000000,331.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31
919999,2000,173.000000,132.000000,103.000000,145.000000,33.000000,39.000000,50.000000,29.000000,35.000000,...,184.000000,132.000000,133.000000,67.000000,67.000000,168.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31

In [33]:
TRAIN_OK = pd.merge(TRAIN_OK ,result_fmed,on='SHOP_ID',how = 'left')
TRAIN_OK

,SHOP_ID,SA00,SA01,SA02,SA03,SA04,SA05,SA06,SA07,SA08,...,SB09,SB10,SB11,SB12,SB13,TRN_STA,TRN_END,TST_STA,TST_END,VALUE
0,897,27.000000,38.000000,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,...,333.000000,163.000000,140.000000,163.000000,190.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30,287.0
1,1332,35.000000,51.000000,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,...,161.584963,127.000000,97.000000,90.000000,94.000000,2015-06-26,2015-07-16,2015-07-17,2015-07-30,138.0
2,897,38.000000,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,121.000000,...,163.000000,140.000000,163.000000,190.000000,182.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31,287.0
3,1332,51.000000,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,21.000000,...,127.000000,97.000000,90.000000,94.000000,139.584963,2015-06-27,2015-07-17,2015-07-18,2015-07-31,138.0
4,1469,4.000000,9.000000,53.000000,68.000000,58.000000,89.000000,97.000000,52.000000,60.000000,...,154.000000,128.000000,124.584963,176.169925,141.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31,545.0
5,1750,1.000000,2.000000,3.000000,9.000000,7.000000,5.000000,6.000000,4.000000,10.000000,...,54.000000,55.000000,53.000000,67.000000,63.000000,2015-06-27,2015-07-17,2015-07-18,2015-07-31,112.0
6,217,2.000000,17.584963,25.000000,36.000000,23.000000,32.000000,31.000000,32.000000,34.000000,...,195.584963,176.000000,160.584963,157.169925,167.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01,376.0
7,380,2.000000,5.000000,1.000000,2.000000,9.000000,2.000000,11.000000,10.000000,9.000000,...,89.000000,86.000000,46.000000,72.584963,73.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,220.0
8,386,1.000000,8.000000,9.000000,11.000000,13.000000,27.000000,7.000000,9.000000,16.000000,...,48.000000,35.000000,28.000000,45.000000,42.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,187.0
9,850,6.584963,38.000000,39.000000,41.000000,44.000000,63.000000,49.000000,53.000000,31.000000,...,310.000000,354.000000,299.584963,376.000000,297.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,185.0
10,897,55.584963,38.807355,44.000000,43.000000,53.000000,76.000000,108.000000,121.000000,65.000000,...,140.000000,163.000000,190.000000,182.000000,295.169925,2015-06-28,2015-07-18,2015-07-19,2015-08-01,287.0
11,1094,3.000000,7.000000,8.000000,11.000000,9.000000,5.000000,7.000000,9.000000,3.000000,...,59.000000,42.000000,59.000000,65.000000,69.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,133.0
12,1332,39.000000,21.584963,25.000000,28.000000,34.000000,35.000000,40.000000,21.000000,21.000000,...,97.000000,90.000000,94.000000,139.584963,155.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01,138.0
13,1350,4.584963,45.000000,57.000000,37.000000,32.000000,44.000000,38.000000,22.000000,28.000000,...,402.000000,334.584963,320.000000,348.000000,264.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01,548.0
14,1469,9.000000,53.000000,68.000000,58.000000,89.000000,97.000000,52.000000,60.000000,60.000000,...,128.000000,124.584963,176.169925,141.000000,173.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,545.0
15,1624,5.169925,17.000000,15.000000,10.000000,8.000000,13.000000,24.000000,12.000000,12.000000,...,245.169925,231.000000,196.584963,184.000000,250.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,370.0
16,1745,2.000000,23.000000,32.000000,65.000000,61.000000,71.000000,76.000000,70.000000,74.000000,...,214.000000,234.000000,268.000000,286.000000,351.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,438.0
17,1750,2.000000,3.000000,9.000000,7.000000,5.000000,6.000000,4.000000,10.000000,16.000000,...,55.000000,53.000000,67.000000,63.000000,57.584963,2015-06-28,2015-07-18,2015-07-19,2015-08-01,112.0
18,1928,1.000000,19.000000,50.000000,85.000000,88.000000,120.000000,83.000000,47.000000,70.000000,...,217.000000,180.000000,199.000000,261.000000,237.000000,2015-06-28,2015-07-18,2015-07-19,2015-08-01,950.0
19,88,20.000000,33.000000,25.000000,41.584963,46.000000,35.000000,35.000000,28.000000,43.584963,...,46.000000,51.000000,55.584963,43.000000,56.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,472.0
20,200,5.000000,7.000000,8.000000,12.000000,15.000000,14.000000,8.000000,4.000000,9.000000,...,25.000000,40.000000,40.000000,56.000000,53.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,193.0
21,217,17.584963,25.000000,36.000000,23.000000,32.000000,31.000000,32.000000,34.000000,30.000000,...,176.000000,160.584963,157.169925,167.584963,224.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,376.0
22,315,1.000000,4.000000,8.000000,9.000000,5.000000,7.000000,5.000000,4.000000,4.000000,...,43.000000,40.000000,40.000000,42.000000,50.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,181.0
23,380,5.000000,1.000000,2.000000,9.000000,2.000000,11.000000,10.000000,9.000000,7.000000,...,86.000000,46.000000,72.584963,73.000000,112.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02,220.0
24,386,8.000000,9.000000,11.000000,13.000000,27.000000,7.000000,9.000000,16.000000,6.000000,...,35.000000,28.000000,45.000000,42.000000,53.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,187.0
25,404,9.000000,5.000000,12.584963,6.000000,13.000000,15.000000,19.000000,7.000000,5.000000,...,56.000000,53.000000,71.000000,125.584963,118.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02,187.0
26,531,4.000000,1.000000,5.000000,8.000000,6.000000,1.000000,3.000000,8.000000,4.000000,...,53.000000,54.000000,58.000000,47.000000,45.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,136.0
27,548,2.000000,5.000000,8.000000,9.000000,10.000000,10.000000,12.000000,9.000000,3.000000,...,56.584963,46.000000,59.000000,68.000000,60.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02,129.0
28,668,11.000000,7.000000,21.000000,11.000000,3.000000,31.000000,17.000000,12.000000,20.000000,...,99.000000,79.000000,93.584963,166.754888,160.584963,2015-06-29,2015-07-19,2015-07-20,2015-08-02,153.0
29,676,11.584963,18.584963,16.000000,9.000000,23.000000,21.000000,23.000000,6.000000,14.000000,...,48.000000,27.000000,43.000000,71.000000,74.000000,2015-06-29,2015-07-19,2015-07-20,2015-08-02,132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481113,1967,192.584963,157.000000,162.000000,239.000000,282.392317,318.000000,236.000000,213.000000,252.469133,...,153.000000,199.584963,259.000000,249.584963,179.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,191.0
481114,1968,10.000000,5.000000,9.000000,15.000000,16.000000,17.000000,23.000000,32.000000,20.000000,...,13.000000,38.000000,54.000000,41.000000,16.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,11.0
481115,1970,198.000000,215.000000,245.000000,247.584963,287.584963,180.000000,233.584963,191.000000,216.000000,...,209.000000,268.000000,330.000000,321.584963,216.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,257.0
481116,1971,271.000000,197.000000,142.000000,271.584963,162.000000,145.000000,128.000000,102.584963,170.000000,...,243.000000,249.000000,199.000000,167.000000,229.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,250.0
481117,1972,43.000000,59.000000,51.000000,74.000000,113.000000,91.000000,84.584963,73.584963,90.000000,...,74.000000,84.000000,116.169925,116.584963,72.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,83.0
481118,1973,82.000000,79.000000,66.000000,48.000000,52.000000,48.000000,39.000000,30.000000,36.000000,...,44.000000,37.000000,31.000000,26.000000,3.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,50.0
481119,1974,167.000000,108.000000,84.000000,159.000000,50.000000,74.000000,62.000000,71.000000,71.000000,...,148.000000,173.000000,108.000000,112.000000,157.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,158.0
481120,1975,156.000000,194.000000,183.584963,552.604513,376.000000,333.169925,304.000000,287.000000,254.000000,...,144.000000,293.000000,398.000000,344.000000,199.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,172.0
481121,1976,101.000000,87.000000,106.000000,116.000000,124.584963,106.000000,118.000000,94.000000,111.584963,...,96.000000,101.000000,90.000000,101.000000,102.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31,100.0
481122,1977,145.000000,86.000000,94.000000,135.000000,114.000000,108.000000,112.000000,105.000000,101.000000,...,155.000000,121.000000,105.000000,147.584963,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,141.0
481123,1978,120.000000,136.584963,188.169925,256.584963,157.584963,146.169925,163.000000,145.000000,149.584963,...,206.584963,272.584963,263.169925,244.584963,189.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31,181.0
481124,1979,52.000000,52.000000,84.000000,71.000000,51.000000,63.000000,64.000000,74.000000,67.000000,...,53.000000,83.000000,66.000000,76.000000,66.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,67.0
481125,1980,44.000000,53.000000,44.000000,61.000000,77.000000,61.000000,83.000000,83.000000,71.000000,...,50.000000,50.000000,66.000000,60.000000,46.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,50.0
481126,1981,163.000000,110.000000,99.000000,90.000000,47.000000,27.000000,40.000000,28.000000,42.000000,...,170.000000,109.000000,67.000000,90.000000,122.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,103.0
481127,1982,82.000000,93.000000,99.000000,89.000000,73.000000,70.000000,62.000000,67.000000,78.000000,...,82.000000,79.584963,117.000000,73.000000,111.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,75.0
481128,1984,68.000000,70.000000,63.584963,61.000000,46.000000,49.000000,32.000000,40.000000,38.000000,...,69.000000,67.000000,69.000000,53.000000,76.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,63.0
481129,1985,459.000000,501.000000,748.000000,1295.000000,1167.000000,828.169925,629.000000,505.169925,600.584963,...,535.000000,727.000000,520.000000,450.000000,410.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,466.0
481130,1986,96.000000,78.000000,92.000000,99.000000,97.584963,98.000000,73.000000,80.000000,88.000000,...,94.000000,86.000000,81.000000,93.000000,102.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,98.0
481131,1987,38.000000,29.000000,63.000000,76.000000,73.000000,69.000000,72.000000,46.000000,66.000000,...,77.000000,42.000000,106.000000,113.000000,33.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,63.0
481132,1988,173.000000,170.000000,171.000000,205.000000,251.000000,248.000000,243.000000,226.000000,223.000000,...,184.584963,213.000000,195.000000,177.000000,231.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31,206.0
481133,1989,67.000000,75.584963,97.000000,131.000000,148.000000,195.584963,208.169925,227.584963,237.169925,...,60.000000,112.000000,85.000000,124.491853,56.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,62.0
481134,1990,67.000000,102.000000,95.000000,136.000000,89.000000,73.000000,77.000000,90.000000,80.000000,...,75.000000,98.000000,127.169925,122.000000,67.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,92.0
481135,1991,173.000000,164.000000,116.584963,171.000000,145.000000,119.000000,88.000000,102.000000,112.000000,...,119.000000,119.000000,115.584963,104.000000,128.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,141.0
481136,1992,52.000000,55.584963,63.584963,98.169925,106.754888,82.000000,76.000000,69.000000,96.000000,...,65.000000,58.000000,128.000000,124.000000,67.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31,62.0
481137,1994,172.000000,135.000000,158.000000,240.000000,125.000000,133.000000,152.000000,146.000000,163.000000,...,145.000000,191.000000,156.000000,147.000000,138.584963,2016-09-27,2016-10-17,2016-10-18,2016-10-31,158.0
481138,1995,48.000000,84.000000,60.000000,69.584963,71.000000,62.000000,77.000000,67.000000,74.000000,...,72.000000,63.000000,79.000000,83.000000,64.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,67.0
481139,1996,85.584963,83.000000,84.000000,90.000000,53.000000,67.000000,59.000000,58.000000,53.000000,...,99.584963,104.000000,101.000000,96.000000,92.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,88.0
481140,1997,268.000000,244.000000,221.000000,257.000000,71.000000,67.000000,58.000000,61.000000,60.000000,...,285.000000,219.000000,120.000000,109.584963,298.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,293.0
481141,1999,272.000000,303.000000,338.584963,367.000000,424.000000,378.000000,341.000000,339.000000,307.000000,...,298.000000,316.000000,147.000000,452.000000,331.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,324.0
481142,2000,173.000000,132.000000,103.000000,145.000000,33.000000,39.000000,50.000000,29.000000,35.000000,...,132.000000,133.000000,67.000000,67.000000,168.000000,2016-09-27,2016-10-17,2016-10-18,2016-10-31,169.0

In [34]:
TEST = pd.merge(TEST ,result_fmed,on='SHOP_ID',how = 'left')

In [35]:
TRAIN_OK = pd.merge(TRAIN_OK ,SHOP_INFO,on='SHOP_ID',how = 'left')
TEST = pd.merge(TEST ,SHOP_INFO,on='SHOP_ID',how = 'left')

In [37]:
TRAIN_OK.columns

Index([u'SHOP_ID', u'SA00', u'SA01', u'SA02', u'SA03', u'SA04', u'SA05',
       u'SA06', u'SA07', u'SA08', u'SA09', u'SA10', u'SA11', u'SA12', u'SA13',
       u'SA14', u'SA15', u'SA16', u'SA17', u'SA18', u'SA19', u'SA20', u'SB00',
       u'SB01', u'SB02', u'SB03', u'SB04', u'SB05', u'SB06', u'SB07', u'SB08',
       u'SB09', u'SB10', u'SB11', u'SB12', u'SB13', u'TRN_STA', u'TRN_END',
       u'TST_STA', u'TST_END', u'VALUE', u'CITY_EN', u'SD00', u'SD01', u'SD02',
       u'SD03', u'SD04', u'SJ00', u'SJ01', u'SJ02', u'SJ03', u'SJ04', u'SJ05',
       u'SJ06', u'SJ07', u'SJ08', u'SJ09', u'SJ10', u'SJ11', u'SJ12', u'SJ13',
       u'SJ14', u'SE00', u'SF00', u'SG00', u'SG01', u'SG02', u'SG03', u'SC00',
       u'SH00', u'SH01', u'SI00', u'SI01', u'SI02', u'SI03', u'SI04', u'SI05',
       u'SI06', u'SI07', u'SI08', u'SI09'],
      dtype='object')

In [38]:
#找出训练时间比开业时间大7的数据（开业前7天数据不用于训练集）
TRAIN_OK['DT'] = pd.to_datetime(TRAIN_OK['TRN_STA']) - pd.to_datetime(TRAIN_OK['SH00'])
TRAIN_OK.loc[:,'DT'] = [(lambda x:(x.days)) (x) for x in TRAIN_OK.loc[:,'DT']]
TRAIN_OK = TRAIN_OK[TRAIN_OK['DT'] >7]

In [40]:
#取log，再缩放
TRAIN_OK[TRAIN_TRN_C + TRAIN_TST_C] = np.log(TRAIN_OK[TRAIN_TRN_C + TRAIN_TST_C]).div(np.log(TRAIN_OK['VALUE']),axis=0 )

TEST[TRAIN_TRN_C] = np.log(TEST[TRAIN_TRN_C]).div( np.log( TEST['VALUE']),axis=0)

/home/zlq/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [44]:
HOLI_TRN_CA  = [(lambda x:('NC'+ str(x).zfill(2))) (x)  for x in range(TRN_N)]
HOLI_TST_CA  = [(lambda x:('ND'+ str(x).zfill(2))) (x)  for x in range(-2,TST_PAD_N-2)]

In [45]:
HOLI_TRN = pd.DataFrame()

date_all = copy.deepcopy(train_date_zip)
date_all.append(test_date_zip[0])
date_all_df = pd.DataFrame(date_all)
date_all_df.columns = ['TRN_STA','TRN_END','TST_STA','TST_END']
for TRN_STA,TRN_END,TST_STA,TST_END in date_all:
    tt1 = HOLI_TAB.loc[:,TRN_STA:TRN_END]
    tt1.columns = HOLI_TRN_CA
    
    tst_sta = str((datetime.datetime.strptime(TST_STA,'%Y-%m-%d') + datetime.timedelta(-2)).date())
    tst_end = str((datetime.datetime.strptime(TST_END,'%Y-%m-%d') + datetime.timedelta(2)).date())
    
    tt2 = HOLI_TAB.loc[:,tst_sta :tst_end ]
    tt2.columns = HOLI_TST_CA
    tt3 = pd.concat([tt1,tt2],axis=1)
    
    HOLI_TRN = pd.concat([HOLI_TRN,tt3])
HOLI_TRN = HOLI_TRN.reset_index(np.arange(len(HOLI_TRN)),drop = True)  
HOLI_TRN = HOLI_TRN.join(date_all_df)

NameError: name 'test_date_zip' is not defined